[2015-11-10 23:14] michaelschulz opened #4 "Path to ruby binary"
In OMS-Agent-for-Linux/source/code/plugins/in_omi.rb and OMS-Agent-for-Linux/source/code/plugins/in_oms_omi.rb the ruby path points to /usr/local/bin/ruby. The default on most systems would be /usr/bin/ruby.

[2015-11-11 09:05] terbolous opened #5 "Is there a puppet module for installing and administering this?"
Installing from a .sh doesn't really scale that well..

[2015-11-11 09:22] terbolous commented on #4
Why not use '/usr/bin/env ruby'?

[2015-11-11 16:02] jeffaco commented on #4
Part of the issue is that we require Ruby 2.2.0 for a variety of reasons, and I'm not aware of any systems today that ship a version of Ruby v2.2.0 by default.

We'll have full instructions posted here shortly for how to build from source, and that will include a few different mechanisms for how to set up the version of Ruby that we need.

[2015-11-11 16:13] michaelschulz commented on #4
By convention, the binary that ships with the system would be in /usr/bin, /usr/local/bin would be used for non system distribution binaries. So if we need a different version, then it would make sense to leave it as is. Using /usr/bin/env would use the first ruby that would be found in $PATH but the user may have multiple versions installed.
Are we locked on 2.2.0 or 2.2.x? Latest release is 2.2.

[2015-11-11 17:10] jeffaco commented on #4
We are locked into 2.2.0, as that's what we test with. Other versions may work, but won't be supported.

In the end, when we include build instructions, there may be some slight changes to some of the code to facilitate open-source building. For now, I'd suggest holding off until we update for open source, which should hopefully be in a week or less. The basics are all here, but things like path m

[2015-11-13 23:57] agup006 commented on #5
Hi Erik, there is not a puppet module for installing the client.

We do have allow extraction (with option `--extract`) of the .sh to reveal the rpm and debs if you want to update from your central yum, apt-get, zypper repo.

[2016-01-09 01:17] jeffaco opened #6 "This repo has been replaced with our internal development repo"
This has been replaced with our internal development repository. If you re-fork, you'll now have our live development repository with the latest changes.

We can't accept pull requests at this time, but we're working on it. Please see [CONTRIBUTING.md](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/develop/CONTRIBUTING.md).

We kept the releases intact by moving their tags to the correct lo

[2016-01-09 01:18] #5 closed

[2016-01-09 01:18] #4 closed

[2016-01-13 00:23] sjohner opened #9 "Firewall issues"
I am experiencing issues with OMS agent and firewall enabled on my Ubuntu 15.10 box. Can you elaborate on which ports have to be accessible by OMS agent to work properly. Currently getting the following messages with firewall enabled:

systemd[1]: Stopping Operations Management Suite agent...
systemd[1]: omsagent.service: Main process exited, code=killed, status=9/KILL
systemd[1]: Stopped Operatio

[2016-01-13 03:58] aspradhan commented on #9
Check out this article https://technet.microsoft.com/en-US/library/mt484101.aspx It lists all the required ports to be opened. I'll summarize here:

For the Microsoft Monitoring Agent to connect to and register with the OMS service, it must have access to the port number of your domains and the URLs. If you use a proxy server for communication between the agent and the OMS service, you’ll need to

[2016-01-13 15:47] jeffaco commented on #9
Thanks for your interest in the OMS Agent for Linux.

The messages you indicated are, unfortunately, normal behavior. Due to a technical problem with a plugin that we use, our service won't respond properly to signals. Thus, to shut down the service, we resort to doing a 'kill -9' on it. This results in the systemd messages that you saw above.

This does not reflect a failure of the agent; this is

[2016-01-13 15:47] #9 closed

[2016-01-13 17:38] sjohner commented on #9
Thanks guys! In the meantime I figured that its probably not a firewall issue. Thanks for clarification on this!

[2016-01-18 20:51] sjohner opened #10 "error: omsagent:8 unknown option 'endscript' -- ignoring line"
Getting "error: omsagent:8 unknown option 'endscript' -- ignoring line" when logrotate is run on omsagent config. Configuration seems to contain a needless "endscript" since there is no postrotate for omsagent logrotate config.

![untitled](https://cloud.githubusercontent.com/assets/16019080/12402478/9b221ec4-be2d-11e5-859a-3cfab3aabca2.png)

[2016-01-18 20:57] sjohner opened #11 "error: omsconfig:1 glob failed for /opt/omi/var/log/*.log: No such file or directory"
Omsconfig logrotate config does not seem to be correct or rather refers to unavailable log folder /opt/omi/var/log

![untitled](https://cloud.githubusercontent.com/assets/16019080/12402614/71b0c6d4-be2e-11e5-86f7-09804c32b1ff.png)

[2016-01-18 21:43] niroyb commented on #11
Looks like it should be `/var/opt/omi/log/*.log` instead of `/var/opt/omi/log/`

[2016-01-18 21:49] jeffaco commented on #11
I think this is a little more involved:

1. I don't think omsconfig should be responsible for trimming OMI's log file, I think OMI should be responsible for it.
2. I think we can do an omiserver reload operation rather than a omiserver restart operation (although this is minor).

Let's briefly discuss at tomorrow's scrum to bring this to closure.

[2016-01-20 17:46] agup006 commented on #10
Hi @sjohner this fix will be in the next release of the agent (after version -21). Thank you for letting us know about this problem.

[2016-01-20 17:46] #10 closed

[2016-01-22 14:40] smereczynski opened #14 "Install fails on Ubuntu 14.04"
Setting up omsconfig (1.1.1.49) ...
 * Shutting down Open Group OMI Server:
   ...done.
 * Starting Open Group OMI Server:
   ...done.
 * Starting Operations Management Suite agent:
/opt/microsoft/omsagent/ruby/lib/ruby/2.2.0/rubygems/core_ext/kernel_require.rb:54:in `require': /opt/microsoft/omsagent/ruby/lib/ruby/2.2.0/x86_64-linux/openssl.so: undefined symbol: SSLv3_method - /opt/microsoft/omsa

[2016-01-22 14:56] jeffaco commented on #11
Give us a little while on this, we're swamped with other issues right now. In the meantime, if you want things to work properly change /opt/omi/var/log/*.log to:

/var/opt/omi/log/*.log

In general, OMI logs very, very little, so this isn't an urgent issue. But it is something we want to fix.

/Jeff

[2016-01-22 14:57] jeffaco commented on #6
This issue has been opened for two weeks, enough time for people to notice. Closing notification.

[2016-01-22 14:57] #6 closed

[2016-01-22 14:58] jeffaco commented on #14
Please indicate the complete command line you're using to try and install the agent. I don't even know what version you're trying to install.

Thanks!

[2016-01-22 16:00] smereczynski commented on #14
O sorry I missed it :)

It is output form installation command: sh ./omsagent-1.1.0-2.universal.x64.sh --upgrade. Instllation is ending with this message. After this any restart of OMSagent via init script is returning the same error and agent is not working at all. After this I was trying to update Azure Xtension from 2.0 to 2.2 but there was no action on the server. I have removed both OMS (and

[2016-01-22 17:00] jeffaco commented on #14
I can't replicate this at all. I'm not sure what your prior version of omsagent was, if any.  When I installed omsagent v1.1.0-2, it worked. When I upgraded from a prior version, it worked. Here's how I verify that it's working:

[code]

The errors that we're getting suggest that we installed the wrong type of agent (perhaps SSL 0.9.8) based on the system that you're on. But I'm definitely trying

[2016-01-22 18:08] smereczynski commented on #14
OpenSSL 1.0.2e 3 Dec 2015

    NAME="Ubuntu"
    VERSION="14.04.3 LTS, Trusty Tahr"
    ID=ubuntu
    ID_LIKE=debian
    PRETTY_NAME="Ubuntu 14.04.3 LTS"
    VERSION_ID="14.04"
    HOME_URL="http://www.ubuntu.com/"
    SUPPORT_URL="http://help.ubuntu.com/"
    BUG_REPORT_URL="http://bugs.launchpad.net/ubuntu/"

This is quite fresh VM (few days). Deployed with Diagnostics option turned ON - maybe t

[2016-01-22 18:24] smereczynski commented on #14
I have OpenSSL 1.0.2e 3 Dec 2015 because I builded OpenSSL later from source. The error occured before that.

[2016-01-22 18:34] jeffaco commented on #14
@KrisBash Do we work properly with Azure right now?

[2016-01-22 19:15] jeffaco commented on #14
We would like the full text of the installation output. That is, when you try to install the OMS agent, we want to see everything in stdout/stderr, from start to finish (including the command used), to replicate this problem.

If you are installing through the portal, please try installing from the command line to replicate this, thanks.

[2016-01-22 19:48] smereczynski commented on #14
At this moment no Diagnostic extension is installed but output of installation command is the same:

https://gist.github.com/smereczynski/adf64ab56e1548d366ce

[2016-01-22 20:26] KrisBash commented on #14
Interesting. I suspect we have failed to set up the expected symlinks to libssl.so. Can you run:
`ldd /opt/microsoft/omsagent/ruby/lib/ruby/2.2.0/x86_64-linux/openssl.so`
and
`ls -l /opt/omi/lib/`

[2016-01-22 20:47] smereczynski commented on #14
root@server:~# ldd /opt/microsoft/omsagent/ruby/lib/ruby/2.2.0/x86_64-linux/openssl.so
        linux-vdso.so.1 =>  (0x00007ffda23d6000)
        libssl.so.1.0.0 => /opt/omi/lib/libssl.so.1.0.0 (0x00007f2227656000)
        libcrypto.so.1.0.0 => /opt/omi/lib/libcrypto.so.1.0.0 (0x00007f222720f000)
        libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2 (0x00007f2227002000)
        libpthread.so.0 => /

[2016-01-22 22:02] jeffaco commented on #14
I think the issue is that you reinstalled OpenSSL, and you probably picked a different configuration.  The default version of OpenSSL that ships with Ubuntu 14 is OpenSSL 1.0.1f.

I'm not sure why you decided to reinstall OpenSSL from source. Please try our agent on a fresh system where you did not reinstall OpenSSL, and I'm very confident that you'll work just fine. That's why I can't replicate t

[2016-01-22 22:39] smereczynski commented on #14
It works fine on fresh mchine - You are right. But fresh machine is deployed without Diagnostic extension or with version 2.2.0 of extension not 2.0. My first think was that this extension is causing some problems... but it is wrong.
I have tried to compile OpenSSL shared librariies AFTER the error shows up and haven't installed it - so my information about other version of OpenSSL above is wrong.

[2016-01-23 01:35] jeffaco commented on #14
I believe the agent will work against OpenSSL v1.0.2e **IF** you compile SSL with the instructions I specified above. By compiling the way you are, the SSL environment is different enough where we have problems.

Another option, if you rebuild OpenSSL from source, is to put the new version of OpenSSL in /usr/local. This is the typical way to make changes from the system installation. And this way,

[2016-01-23 08:40] smereczynski commented on #14
OK, once again: I have NOT INSTALLED the OpenSSL I have compiled. I have been building the shared library. OpenSSL v1.0.2e in my system is from PHP 5.6 PPA (https://launchpad.net/~ondrej/+archive/ubuntu/php5-5.6?field.series_filter=trusty). It will be instaled on EVERY Ubuntu 14.04 with PHP 5.6 installed from this PPA and this PPA is recommended to do this. v.1.0.2e will be also the default versio

[2016-01-23 17:55] jeffaco commented on #14
Did you try "building the shared library" via the instructions I posted above? What was the results of that?

When you say "I have NOT INSTALLED the OpenSSL I have compiled. I have been building the shared library", where exactly are you putting this shared library? We are obviously finding it and using it. If I can get exact details on exactly what you are doing, step by step, and if the original

[2016-01-23 18:13] smereczynski commented on #14
OK, at this point we should leave my case - I have been trying to replace shared library just because my curiosity and I believe You that there is a workaround. We know right now that version of the OpenSSL installed in the OS is the problem. I'm pointing to much bigger problem for You: a massive number of administrators is installing PHP 5.6 from PPA I have linked above. So probably Your agent wi

[2016-01-23 18:51] smereczynski commented on #14
@jeffaco OK, it works OK in 16.04 (OpenSSL 1.0.2e 3 Dec 2015, PHP 5.6.16-1ubuntu1). I will reproduce it on 14.04.3-LTS with PHP 5.6 PPA and if it will fail again I will send information to PPA team. Correct me if I'm wrong: they compiled openssl shared library with -no-ssl3, yes? And Your agent need SSL3, correct?

[2016-01-23 19:39] jeffaco commented on #14
It's not an issue of what our agent needs, it's an issue of how SSL was previously built on the machine. Our agent is pretty flexible in this regard.

When I do an ```openssl version -a``` on an Ubuntu 14 system, I get this:
[code]

While this does not show the exact configure options, the configuration options can be reverse engineered from that. Ultimately, if a third is going to replace the ver

[2016-01-24 11:20] smereczynski commented on #14
Thank You @jeffaco for Your support. I will try to talk with Ondřej Surý (PHP56 PPA maintainer) about his build of OpenSSL. Now we know that upstream build in 16.04 is OK, so maybe he will use an upstream build in his repository.

[2016-01-24 20:22] #14 closed

[2016-01-25 16:45] sjohner commented on #11
No problem, thanks for getting back to me!

[2016-01-26 19:06] jeffaco commented on #11
This will be fixed in OMSAgent build 1.1.0-35 or later.

Thanks for letting us know about this!

[2016-01-26 19:06] #11 closed

[2016-01-27 07:16] sjohner commented on #11
Thanks guys!

[2016-02-02 01:00] webash opened #20 "armhf build?"
Any chance of an armhf build to be able to run this on embedded / small-scale linux environments, like the Raspberry Pi?

[2016-02-02 17:41] jeffaco commented on #20
Note that OMS-Agent is dependent on Ruby, and I have no idea if Ruby runs on the Rasberry Pi.

Our primary dependencies are Ruby and Fluentd (Fluentd runs on top of Ruby), as well as a little bit of shell code (not much) and OpenSSL dependencies (for security).

If you can get Ruby and Fluentd going, I'll try and help you out the rest of the way!

[2016-02-02 17:48] webash commented on #20
I have zero experience with ruby, but [this article](http://rayhightower.com/blog/2012/12/03/ruby-on-raspberry-pi/) seems to suggest its possible. If I get some time tonight, I'll see if I can get Ruby installed. Any suggestion for a hello-world-type script that would determine whether I have Ruby running sufficiently?

[2016-02-02 17:58] andschwa commented on #20
Fluentd [supports](http://docs.fluentd.org/articles/raspberrypi-cloud-data-logger) Raspberry Pi devices (at least those running Raspbian). At that point, they're not much different from a normal Debian machine, which means it will have OpenSSL as well.

We actually used Fluentd on a Pi at OneWeek to aggregate sniffed packets of some archaic protocols.

[2016-02-02 19:19] webash commented on #20
Great! I'll install Ruby and Fluentd tonight... what would I need to do from there to get OMS installed/running?

[2016-02-02 19:51] andschwa commented on #20
That's a good question. @jeffaco do you know where OMS's build-from-source instructions are? I couldn't find them.

[2016-02-02 21:19] jeffaco commented on #20
It turns out that you don't need to install Ruby as such, or Fluentd as such. We build it as part of the OMS build (we own the packages, so we build them and install in our directory). This means that the kits that we provide won't work on the Raspberry Pi, as our kits are based on the PC architecture.

You need to build from source. And, unfortunately, we haven't posted instructions on how to bui

[2016-02-03 15:03] webash commented on #20
I'm looking to provision Raspberry Pis as a 'micro-server' in low power/commodity environments, but I still need to ensure the device is online, performant and be able to collate its error messages to somewhere useful. OMS is the first service I turned to for this since I have a heavily Microsoft infrastructure background. Plus, this trial with Raspberry Pi should give me the insight I need to be

[2016-02-03 17:18] jeffaco commented on #20
I'd like to better understand *exactly* what you're looking for from OMS-Agent on the Raspberry Pi.

You say that you need to ensure that the device:

- Is online
- Is Performant
- Is able to collate its error messages to somewhere useful

By "performant", you mean that do you do want statistical information (memory & cpu statistics) uploaded to OMS? Or were you after something else here?

As far

[2016-02-08 22:53] webash commented on #20
You're correct on the definition of performant - I need to have historical statistical data showing CPU and memory usage over time.

Deducing that an object is offline simply by a lack of data is enough for now, but ideally 'missed heartbeat' alerts would be useful.

The latter (error messages) is the most useful to me, so if there's a way I can proceed to achieving that first, then I'm all ears :

[2016-02-08 23:10] jeffaco commented on #20
For the error messages, what I would suggest is compiling both Ruby and fluentd for the Raspberry Pi, and getting both of those running on the platform. The fluentd project has some basic consistency tests that you can run to make sure that it's basically operating correctly. Once that is done, then you'll need to:

1. Copy our plugins to the fluentd plugin directory. These are available on [GitHu

[2016-02-18 12:04] terbolous opened #25 "Getting OpenSSL::SSL::SSLError"
I don't know which host it is trying to connect to, so it is hard to troubleshoot the issue.

2016-02-18 06:43:34 -0500 [warn]: temporarily failed to flush the buffer. next_retry=2016-02-18 06:44:01 -0500 error_class="RuntimeError" error="Net::HTTP.Post raises exception: OpenSSL::SSL::SSLError, 'SSL_connect SYSCALL returned=5 errno=0 state=SSLv2/v3 read server hello A'" plugin_id="object:3fc396859

[2016-02-18 13:19] #25 closed

[2016-02-18 14:07] ChrisHeitkamp opened #26 "FluentD debug tracing"
No real issue, but rather a CR:
It would be good if the omsagent / fluentd call could have debug parameters passed (-vv) when service_control is called with a debug level.

And my question:
Even with -vv  I do not get plugin tracing information.
Looking for lines like
log.debug "Success sending #{tag} x #{count} in #{time.round(2)}s"
from the out_oms plugin.
Any hints?

[2016-02-19 21:36] jeffaco commented on #26
While it's not difficult modifying service_control to take a debug level, note that the various mechanisms used to start across various systems (be it /etc/inid.d style scripts or systemd control) do not necessarily take a parameter. I could set something globally and detect at startup, but that seems kind of sloppy to me.

As for the -vv option to fluentd, we're using the fluentd framework, and w

[2016-02-19 21:48] niroyb commented on #26
To answer the second part of the question, there are two types of log levels in fluentd:

1. The global logging level controlled on invocation with the -v or -vv flags affects `$log`.
2. The per plugging logging level controlled by the `log_level` tag in the configuration script  affects `@log`.

In this case [per plugin logging is used](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/9b4382

[2016-02-19 23:29] jeffaco commented on #26
@ChrisHeitkamp, have we answered your questions? If so, please feel free to close this issue. If not, please post a new comment and we'll help you out.

[2016-02-22 09:05] ChrisHeitkamp commented on #26
@jeffaco @niroyb, thanks, this was the information I needed.

[2016-02-22 09:05] #26 closed

[2016-02-22 16:37] ChrisHeitkamp opened #28 "omiagent process leaves stale python processes"
Symptom:
Every 5 minutes two new python processes are added to the process list which are not terminated. Same parend PID.

omsagent 22076 21695  0 14:32 ?        00:00:00 [python] <defunct>
....
omsagent 31358 21695  0 16:02 ?        00:00:00 [python] <defunct>
omsagent 31360 21695  0 16:02 ?        00:00:00 [python] <defunct>
omsagent 31862 21695  0 16:08 ?        00:00:00 [python] <defunct>
oms

[2016-02-22 17:09] jeffaco commented on #28
This is actually a serious problem with OMI. Fortunately, I'm certain that this isn't happening with everyone because we'd definitely know about it. Unfortunately, I don't know what the problem is. :frowning:

Can you give me very specific replication instructions, from immediately after installing a new Linux system and installing our kit, to replicating the problem? If I understood the exact nat

[2016-02-22 17:50] jeffaco commented on #20
Have we answered your questions? I'd like to close this issue if we have. You can reopen it later if further questions come up relating to this.

Please let us know, thanks!

[2016-02-22 22:29] sjohner commented on #28
Same issue here. Using Ubuntu 15.10, no SCOM management groups connected.

omsagent  3200  0.0  0.1 355952 10560 ?        Sl   22:44   0:01  \_ /opt/omi/bin/omiagent 10 13 --destdir / --providerdir /opt/omi/lib --idletimeout 90 --loglevel WARNING
omsagent  3428  0.0  0.0      0     0 ?        Z    22:48   0:00      \_ [python] <defunct>
omsagent  3447  0.0  0.0      0     0 ?        Z    22:48   0

[2016-02-26 14:33] sjohner commented on #28
any update on this?

[2016-02-26 19:53] jeffaco commented on #28
We're testing a new kit to resolve this problem. We'll loop back when we know we have the problem fixed and have something to post.

Thanks for your patience.

[2016-03-01 13:48] webash commented on #20
Unfortunately that's a bit more involved than I can be with this at the moment. But I'm hoping to get the agent rolled out on some Windows machines instead soon. I'll come back to the RPi issue specifically when I have some better time to thrash it out. Thanks for your help so far and let's hope you're able to Open Source the other bits that prevent full build/deploy on non AMD64 architectures. :)

[2016-03-07 04:28] ChrisHeitkamp opened #37 "Documentation: Add information to remove apache, mysql rpms"
Symptom:
According to documentation "Uninstalling the OMS Agent for Linux" the following must be run:
sudo rpm -e omi
This fails if provider rpms are installed:
error: Failed dependencies:
        omi >= 1.0.8-3 is needed by (installed) apache-cimprov-1.0.1-1.x86_64
        omi >= 1.0.8-3 is needed by (installed) mysql-cimprov-1.0.1-1.x86_64

Request to update documentation.

[2016-03-07 16:30] jeffaco commented on #37
@agup006 Looks like our documentation needs to be updated.

Yeah, this is incorrect from our documentation. We have some uninstall scripts, but it looks like we didn't create one for omsagent itself, just for the opsmgr agent.

Given this, there are two ways to remove the OMS agent:

1. Via the shell bundle: Run the shell bundle (that you used to install oms) with the `--remove` qualifier or, if y

[2016-03-08 23:00] agup006 commented on #37
This has been added with the following commit https://github.com/Microsoft/OMS-Agent-for-Linux/commit/457f94413dc38310b71347224d440f7f1ebfbb44

[2016-03-08 23:00] #37 closed

[2016-03-15 16:07] agup006 commented on #28
Hi @sjohner,

we have verified the resolution of this issue with a private build. This fix is included in the next release, and we are happy to distribute a private to you if needed.

[2016-03-15 16:09] jeffaco commented on #28
Since this issue is resolved, I'm going to go ahead and close it.

@sjohner: If you need a private, let Anurag know.

[2016-03-15 16:09] #28 closed

[2016-03-16 15:36] sjohner commented on #28
Great, thanks you guys!

@agup006 can you make any comment about the timeline of the next release?

[2016-03-17 23:13] jmacias opened #47 "Follow Docker-Instructions.md gets dial tcp 127.0.0.1: 25225: connection refused"
I created a VM using ARM using OmsAgentForLinux and the DockerExtension, the docker extension was initialized using the docker options has specified on the doc, `"options": ["--log-driver=fluentd", "--log-opt",  "fluentd-address=localhost:25225"] `. After a successful provision `ps` shows the correct process:

[code]
But when I try to run a Docker container I get the error `dial tcp 127.0.0.1: 252

[2016-03-18 15:12] jeffaco commented on #47
@agup006 Can  you take a look at this, provide guidance, and correct docs if needed?

[2016-03-23 21:00] clintonm9 opened #52 "Installed latest OMS version, not showing connected in Azure Portal"
When using the Azure Portal to connect a VM to OMS it says connecting and installs version 1.0.0.3. (click OMS Workspace, Click Virtual machines, click on VM, then click connect). After this the Log Analytics management shows 1 connected VM.

When I manually use the shell script and installed version 1.1.0-28 it works, but says No connected under OMS Connections.

Any ideas? Thanks

[2016-03-23 23:29] JustLoy77 commented on #52
Are u using a dial up, broadband, or DSL? Is the other network device on the network using wifi, hify or cable connection. If cable what category are they. I suggest using an 2.0 USB flash drive w/ a hify connections

clintonm9 <notifications@github.com> wrote:

When using the Azure Portal to connect a VM to OMS it says connecting and installs version 1.0.0.3. (click OMS Workspace, Click Virtual m

[2016-03-29 02:41] agup006 commented on #52
Hi @clintonm9, we have known issues with the OMS Agent for Linux installing on top of a Azure Linux IaaS VM with the "Add Connection" option, we are prepping a new release that should go out shortly to fix that.

For the manual onboarding is the file omsadmin.conf present in the `/etc/opt/microsoft/omsagent/conf/` directory?

[2016-03-29 13:08] clintonm9 commented on #52
@agup006 the manual onboarding works for me, but the VMs are not showing up in the Azure portal as Connected VMs.

Looking at MOI I do see 12 servers connected. Looking at Azure I only see 1 and the rest say not connected. It's not a big deal, just didn't know if there was a way for them to show connected.

[2016-06-08 12:11] danibaeyens opened #100 "omsagent for Linux is not collecting mysql data"
Hi,

I've created a new instance from the bitnami MySQL image, based on Ubuntu 14.04 LTS release.
I manually installed the oms agent for linux, as detailed in the instructions. The bitnami mysql configured is not located in the default directories (i.e. /var/lib/mysql), so I had to create two symlinks to allow the installation of the mysql-cimprov extension: One for /usr/lib/libmysqlclient.so and

[2016-06-08 17:05] agup006 commented on #100
Hi @danibaeyens, When you say "/opt/omi/bin/omicli ei root/mysql MySQL_Server returns nothing" is there no output at all?

[2016-06-08 17:12] jeffaco commented on #100
Hi Dani. I wonder if the agent was able to determine the MySQL instances that were running. Is your MySQL configuration file in the standard location? Oh, no, it's not. That's the problem.

Since your MySQL configuration file is not in the standard location, we're not able to determine what instances exist via the configuration files. Regardless, though, you'd need to set up a username and passwor

[2016-06-08 17:16] danibaeyens commented on #100
Due to timezones, I cannot test it today... Sorry

Wouldn't be nice to have a chance of giving a config file or some parameters to set all the needed info manually? It would also leverage you some "problems" of the autodetection of the mysql directories, I guess...

I'll tell you tomorrow my results

[2016-06-08 17:33] jeffaco commented on #100
We do document the MySQL stuff, but I'm not sure that's been referenced in the OMS documentation. @agup006: Should we be giving links to MySQL agent setup in the OMS configuration instructions?

We work with standard MySQL installations from all major vendors, and we work with source installations as well **if you choose default installation directories**. Since you did not, we had no chance of fi

[2016-06-08 17:36] jeffaco commented on #47
@agup006 Did you take a look at this? Can this issue be closed?

[2016-06-08 17:37] jeffaco commented on #52
I'm assuming the new version will resolve your issue, so I'll close this issue out. If you have further problems in this area, please feel free to re-open this issue with more information.

[2016-06-08 17:37] #52 closed

[2016-06-08 18:01] danibaeyens commented on #100
Thanks for your prompt reply @jeffaco

But, please consider:
- People read the manuals. You told me twice that I had to use `mycimprovauth` to set the credentials, I've said I used it first 😉
- People sometimes **do not have the chance to choose** the default installation directories. I would have preferred to use a default image, but this is the one that I received. And I had to configure these t

[2016-06-08 18:16] jeffaco commented on #100
Hi @danibaeyens My apologies, I scanned your original message very quickly, you did mention that you ran mycimprovauth. Realize that a lot of folks do NOT read manuals and don't realize that some software has to be configured before it works.

In your original message, you said: `/opt/omi/bin/omicli ei root/mysql MySQL_Server returns nothing`. This lead me to believe that mycimprovauth wasn't run.

[2016-06-09 08:54] danibaeyens commented on #100
Hi @jeffaco,

I think OMS performance data counters configured in the OMS portal are not correctly pulled (pushed?) to the Linux Agent right now, because I was unable to see any changes on the omsagent log in `/var/opt/microsoft/omsagent/log/omsagent.log`.
Am I right?

Nevertheless, I disabled the automatic OMS performance data fetched and I manually configured all the MySQL Server counters to see

[2016-06-09 11:38] rubeon opened #102 "Disable weak SSL"
Hi, guys

Can the SSL configuration for OMS's network traffic be hardened without negatively affecting Azure's infrastructure communications?  At the moment, it sets off vulnerability scanners with the following:

Negotiated with the following insecure cipher suites: SSL 3.0 ciphers: TLS_RSA_WITH_IDEA_CBC_SHATLS 1.0 ciphers: TLS_RSA_WITH_IDEA_CBC_SHATLS 1.1 ciphers: TLS_RSA_WITH_IDEA_CBC_SHATLS 1.

[2016-06-09 14:06] jeffaco commented on #100
@robbiezhang, @danibaeyens says the following:

Can you check if the DSC stuff is set up properly from Portal settings to enable MySQL properly?

[2016-06-09 16:17] jmacias commented on #47
@jeffaco
I think the instructions are correct since as prerequisite of using OMS with Docker is:

[code]

My original  intention was to set up a Linux VM using an ARM Template with the following:

-  Docker Extension
- OMS Monitoring the Docker Containers

The problem with this approach is that OMS won't enable Docker monitoring if Docker is not installed. You could first use the docker extension

[2016-06-09 17:01] jeffaco commented on #47
@jmacias I'm somewhat confused by your message.

Unfortunately, I don't know a lot about the Docker extension, but I know enough where we can hopefully help each other.

Normally, we only listen for log messages via UDP 25225. We do this because it's "lower weight", and generally sufficient for us to capture all logging information. But we later learned that, under very high message loads (like ~1

[2016-06-09 19:34] robbiezhang commented on #100
Dani (@danibaeyens) can you send me a screenshot of your Linux Performance Counter setting in OMS portal and your workspace id?

[2016-06-09 19:37] agup006 commented on #100
Additionally @danibaeyens , can we double check that omsconfig package is also installed. `dpkg --list omsconfig`

[2016-06-10 02:10] MarianoMunoz opened #103 "Support needed for RFC5424 syslog format"
The current recommended configuration for direct forwarding syslog messages only appears to support messages in the outdated RFC3164 format that is built into fluentd. This results in any custom log fields being lost. There are existing fluentd input plugins that would support RFC5424 log messages, but OMS agent does not seem to allow them to be installed and used.

[2016-06-10 07:33] danibaeyens commented on #100
@agup006
`ii  omsconfig              1.1.1.150        amd64            Operations Management Suite Agent Configuration`

@robbiezhang
I have these counters:
<img width="649" alt="entries" src="https://cloud.githubusercontent.com/assets/3591851/15957093/184f0d1e-2eed-11e6-9794-e3447605c943.png">

on `8fbe0f0a-cc7a-4f90-b17a-1bbba35f13b3`

I was getting an error, until it stopped:
[code]

[2016-06-10 18:55] robbiezhang commented on #100
@danibaeyens appreciate your information. Our configuration pulling agent (omsconfig) depends on curl.
can you check the curl version on you server?
You can get it by running: curl --version
The curl version on my Ubuntu 14.04 is 7.35.0, which can pull the configuration successfully.
If it's lower on your machine, you can run apt-get upgrade and apt-get update to upgrade it.

[2016-06-10 22:34] isoxav opened #104 "europrod"

[2016-06-10 22:34] #104 closed

[2016-06-10 22:37] isoxav opened #105 "europrod"

[2016-06-10 22:41] #105 closed

[2016-06-12 02:43] rjcrystal opened #106 "Onboarding problem, creating a certificate error code 400"
during onboarding via omsadmin.sh i got this error
[code]
and during onboarding via omsagent-onboard.conf i got this error

[code]

[2016-06-13 15:32] jeffaco commented on #106
@rjcrystal - I wonder if this relates to issue #14, which was pretty similar to this.

What machine is this occurring on (distribution/version)? Are you using the standard version of OpenSSL that ships on the machine or did you try to replace it with some different version?

Please look over issue #14 and let us know if that applies to you, thanks!

[2016-06-14 10:05] rjcrystal commented on #106
Hey @jeffaco i use ubuntu 15.04 open ssl version OpenSSL 1.0.2f  28 Jan 2016
more on that
[code]

[2016-06-14 15:05] danibaeyens commented on #100
@robbiezhang
Oh my...

This is the installed version on the image
$ dpkg -l |grep curl
ii  curl                                7.35.0-1ubuntu2.6                amd64        command line tool for transferring data with URL syntax
ii  libcurl3:amd64                      7.35.0-1ubuntu2.6                amd64        easy-to-use client-side URL transfer library (OpenSSL flavour)
ii  libcurl3-gnutls:am

[2016-06-14 15:10] jeffaco commented on #106
Hi @rjcrystal My answer is going to smell bad, and I apologize for that! 😦

Ubuntu 15.04 support dropped in February, 2016, so Ubuntu no longer supports it. Furthermore,  Canonical identified this problem and resolved it, because we have no such issue in Ubuntu 16.04 (which has the benefit of being an LTS release).

The workaround is to build OMS from source, which would allow you to customize to

[2016-06-15 01:20] agup006 commented on #103
Hi @MarianoMunoz , when you say OMS Agent does not seem to allow them to be installed - is there a specific error message when installing the plugin?

[2016-06-15 05:49] rjcrystal commented on #106
Hey @jeffaco Thanks for letting me know. i was afraid this might me the issue. Its not possible but we'll be moving to ubuntu 16.04 soon. and i think till then omi will get out of preview. and i can try it out.
Thanks for the quick reply. :smile:

[2016-06-15 14:46] jeffaco commented on #106
Hi @rjcrystal No problem, thanks I could help.

I'm going to close this issue. If you have further issues, please feel free to reach out to me.

[2016-06-15 14:46] #106 closed

[2016-06-15 17:18] KrisBash commented on #102
Hello. Thanks for reporting this issue. I'm happy to help out here, but can you clarify what target (and port) you are scanning? Is this the Linux agent?

[2016-06-17 09:58] MarianoMunoz commented on #103
Hi @agup006 , I was attempting to install newsyslog input plugin ( https://github.com/athenahealth/fluent-plugin-newsyslog ) using the standard fluent-gem command ( sudo /opt/microsoft/omsagent/ruby/bin/fluent-gem install fluent-plugin-newsyslog ) on an ubuntu 14.04 LTS VM, so that I could parse RFC5424 logs with the OMS agent.

There is no error when installing the gem, but the path where the plu

[2016-06-17 10:42] rubeon commented on #102
Hi,

this is popping up on port 1270, which I believe is this agent.

[centos@hfd-cr-pweb1 ~]$ sudo netstat -tlupn|grep 1270
tcp        0      0 0.0.0.0:1270            0.0.0.0:*               LISTEN      1204/omiserver

Thanks,
Eric

[2016-06-17 14:33] jeffaco commented on #102
@rubeon That's very strange. I would not expect port 1270 to be exposed unless the *Operations Manager* client was previously installed on this machine.

If you edit file `/etc/opt/omi/conf/omiserver.conf` and change `HTTPSPORT` to 0, then the OMS agent will no longer listen on port 1270. You don't need OMI to be listening for external connections to collect data on the local system. Unless you're

[2016-06-17 14:54] jeffaco commented on #103
@MarianoMunoz The version of fluentd that we use is configured to use `/opt/microsoft/omsagent/plugin` for it's plugins. Furthermore, we have an .so file for a module, `Libomi.so`, that lives in the same directory.

You might try adding some soft links in the `/opt/microsoft/omsagent/plugin` for the dependencies that are missing.

If that doesn't work, let me know, and I'll loop someone in that un

[2016-06-17 17:40] KrisBash commented on #102
Also, if you are using Operations Manager and require TCP port 1270, you can control ciphers and SSLv3 behavior in the omiserver.conf file. NoSSLV3 is a Boolean property to toggle SSLv3 support and sslciphersuite= allows you to specify a standard OpenSSL cipher suite list (like you would for Apache's mod_ssl).

[2016-06-18 07:42] MarianoMunoz commented on #103
@jeffaco I was able to get the OMS agent to start without any errors by dropping the 2 ruby files ( here - https://github.com/athenahealth/fluent-plugin-newsyslog/tree/master/lib/fluent/plugin ) into the /opt/microsoft/omsagent/plugin path. I had to modify the "in_newsyslog.rb" file at line 47 from `require 'fluent/plugin/parser_newsyslog'` to `require_relative 'parser_newsyslog'` so that it would

[2016-06-18 14:42] jeffaco commented on #103
@MarianoMunoz It can sometimes take up to 15 minutes for messages that get posted to the OMS server to make it through the pipeline and show up in search results. Did you wait that long?

Other things of interest for syslog:

- If you're using syslog, TCP/IP vs. UDP matters. You need to be consistent.
- For the standard syslog daemon on RedHat 7 or CentOS 7, we drop a file into `/etc/rsyslog.d/95-

[2016-06-19 13:27] rubeon commented on #102
Looks like this gets installed by the diagnostics extension in Azure. If Azure doesn't need this to be listening on port 1270, it should probably be disabled by default.

Thanks

[2016-06-19 14:51] jeffaco commented on #102
The intent, when Azure installs the diagnostic extension, is that it is NOT listening on port 1270.

Thanks for raising this issue, I'll bring it up with the Azure folks.

[2016-06-20 09:16] MarianoMunoz commented on #103
@jeffaco Thank you for the information. I waited several hours for the logs to appear. The only message I see is the hourly heartbeat from the OMS agent. I am attempting to bypass the rsyslog service built into Ubuntu and deliver messages directly to the OMS agent. It drops a valuable part of the log message when it converts it to RFC3164 and then forwards to the OMS agent. I have successfully sen

[2016-06-20 15:44] jeffaco commented on #103
@MarianoMunoz Your best bet, I think, is to compare debug output from [fluentd logging](http://docs.fluentd.org/articles/logging) when working via rsyslog with the debug output when not working from RFC5424. If you make the RFC5424 messages look the same, you should be in good shape.

In fact, you can even create a formatter plugin to not lose valuable portions of log messages (although, until cus

[2016-06-20 15:50] ghislinc commented on #103
@jeffaco We wanted to use OMS as a debug tool in order to see what's happening in our MS Azure IaaS environment based on Linux VMs. The OMS overview page states

Now I'm confused. A 15 minutes delay is far from real-time. Is there any way to speed up the process through the pipeline?

Thanks in advance for your support.

[2016-06-20 16:05] jeffaco commented on #103
@ghislinc I said *It can sometimes take up to 15 minutes* (worst case). It's often much faster.

@agup006 Can speak more about accurately about actual OMS performance characteristics.

[2016-06-28 21:26] niroyb opened #119 ""/tmp/a.txt not found" message logged on agent startup"
[code]
@Microsoft/omsagent-devs

[2016-06-28 21:28] robbiezhang commented on #119
The message is left by the tail plugin. Suspect that your agent onboards to a workspace, which has CustomLog set up on the 2 files /tmp/a.txt and /tmp/b.txt, while they don't exist on the machine.

[2016-06-28 21:30] #119 closed

[2016-06-30 21:12] arjun-urs opened #122 "Error on adding custom plugin: Unknown input plugin"
Hey guys,

I am trying to add a custom plugin and I am facing this error:

`2016-06-30 20:58:47 +0000 [error]: fluent/supervisor.rb:313:rescue in main_process: config error file="/etc/opt/microsoft/omsagent/conf/omsagent.conf" error="Unknown input plugin 'in_cloudfetch'. Run 'gem search -rd fluent-plugin' to find plugins"`

The same plugin works for td-agent.

Here are the steps I followed:

Updat

[2016-06-30 21:17] KrisBash commented on #122
Please copy your plugin to /opt/microsoft/omsagent/plugin, restart the omsagent service, and you should see it work.

[2016-06-30 22:12] agup006 commented on #102
As this is merged are we good to close this issue?

[2016-06-30 22:26] jeffaco commented on #102
I have committed the above fix, although the Azure team has opted to edit omiserver.conf themselves to not expose the port.

This problem should be fixed in an upcoming Azure agent release.

[2016-06-30 22:26] #102 closed

[2016-07-01 00:06] arjun-urs commented on #122
Thanks, might as well add it in the documentation.

[2016-07-01 01:12] #122 closed

[2016-07-04 13:22] jarig opened #123 "OMSAgent keeps removing everything under /tmp folder"
For some reason omsagent keeps running following file:
/etc/opt/microsoft/scx/conf/sudodir/dh_builddeb

Which includes following lines

`complex_doit("find $tmp -name $_ | xargs rm -rf")`

Cause of that /tmp is constantly wiped and none of other applications can normally run while omsagent is running.

[2016-07-05 14:56] jarig commented on #123
Seems it's not dh_builddeb but, still find that runs rm after that.

Here is what I've managed to gather using auditd

Parent process:

type=PATH msg=audit(05/07/16 14:30:03.360:1099644) : item=0 name=/tmp/ inode=2490369 dev=08:02 mode=dir,sticky,777 ouid=root ogid=root rdev=00:00
type=CWD msg=audit(05/07/16 14:30:03.360:1099644) :  cwd=/tmp
type=SYSCALL msg=audit(05/07/16 14:30:03.360:1099644) :

[2016-07-06 07:46] jarig commented on #123
Finally I've found whole trace of this find.exe

[code]

[2016-07-06 09:39] jarig commented on #123
I've found that issue originates from nxService.py from https://github.com/Microsoft/PowerShell-DSC-for-Linux:
https://github.com/Microsoft/PowerShell-DSC-for-Linux/blob/4d3a586d3ae658ba59fc1dd2bf88f276cd1e9ee3/Providers/Scripts/2.6x-2.7x/Scripts/nxService.py#L1605

It has wrong grep command that outputs list of services to get status for, and one of them is **rcS**. If call `service rcS status` i

[2016-07-06 12:37] KennyMacCormik opened #126 "No nagios alerts show up on the OMS portal"
Hi all.

Failing to collect Nagios alerts with OMS agent.

I've configured omsagent.conf
[code]
After restarting oms agent service I can see the following warning in /var/opt/microsoft/omsagent/log/omsagent.log

[code]

I can see my server connected to OMS and performance data collected.

In Check_MK web portal I can see active alers, but they did not show up in the OMS portal. I've tried to creat

[2016-07-11 16:09] jeffaco commented on #123
Very cool that you fixed this and it was committed. Thanks!

I'm going to go ahead and close this issue since it's resolved now. Thanks very much for your assistance with this. If this issue is still outstanding or you have questions about it, feel free to reopen this issue.

[2016-07-11 16:09] #123 closed

[2016-07-13 18:44] arjun-urs opened #131 "Cert based auth for the OMS"
Hey guys,

Is there a support for cert based authentication?

I mean, while installing the agent and onboarding OMS, instead of passing the keys as parameters, can I pass a certificate?

[2016-07-14 18:40] agup006 commented on #126
Hey @KennyMacCormik , in the omsagent.conf file would you be able to have the agent output to stdout and send the log?

This can be done by editing `/etc/opt/microsoft/omsagent/conf/omsagent.conf` and commenting out the following sections

[code]

[2016-07-19 19:20] robbiezhang commented on #131
No, you can only use the shared key for onboarding.

[2016-07-20 17:32] #131 closed

[2016-07-25 01:59] hunty1 commented on #47
I'm having the same issue. TCP port 25225 is not running.
There is a tcp port 24220 and a UDP port 25224 coming from a ruby script which I assume is the OMS agent.

following the instructions exactly, on multiple machines, port 25225 is never running.

Host OS is Centos 7.1
Docker v 1.9.1
omsagent version 1.1.0-239

[2016-07-25 22:05] jgreat opened #138 "container solution pack - preview - OMSContainers@microsoft.com is "Internal Only""
Following documentation from here:
https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/docs/Docker-Instructions.md

I'd like to sign up for the container solution pack preview.  When I try and email OMSContainers@microsoft.com it bounces.

![image](https://cloud.githubusercontent.com/assets/5324639/17119146/d48c1886-5289-11e6-8102-8ae14b174e1c.png)

[2016-07-26 03:49] agup006 commented on #126
Hi @KennyMacCormik, haven't heard back in a while - I am going to close this issue. Feel free to re-open if new information is available

[2016-07-26 03:49] #126 closed

[2016-07-26 03:51] agup006 commented on #100
Hi @danibaeyens , would you be able to try reporting this issue for MySQL Data with the latest version of the Agent - v1.1.0-239: https://github.com/Microsoft/OMS-Agent-for-Linux/releases.

[2016-07-26 03:58] agup006 commented on #103
@ghislinc - During our initial private preview Linux ingestion could take up to 15 minutes to full take fruition in Log Analytics Search.

Since that private preview, we have made numerous service and agent improvements to rapidly increase our reliability and time for message to be available in search. Additionally, you can view the average time for a batch of messages [30-45 seconds across our Li

[2016-07-26 03:58] #103 closed

[2016-07-26 03:59] agup006 commented on #138
Hi @jgreat , thanks for reporting this issue

[2016-07-26 22:09] pdiniz13 opened #140 "Attempt in QueryAll to get element 46 of event list returned null"
All docker logs are coming in with this error under the log search.The installation worked fine, and I am able to see the service running, and docker is able to connect to it. But there seems to be something wrong with getting the logs over to azure. All other logs are working fine, this seems to be the only issue.

[2016-08-10 07:08] dhermans opened #149 "omsagent-1.1.0-217 proxy support"
Hi,
we are using omsagent-1.1.0-217 and have activated the proxy feature as nearly all of our linux VMs do not have publicIP nor are routable to the internet. Agent is correctly registering but we note that the 'ComputerIP' field is the public IP of our proxy rather than the private IP of the VM.

Of course this means EVERY VM is shown in OMS with the same IP

Is there a configuration setting to d

[2016-08-17 12:56] daninthewoods opened #164 "Pass Container Labels through as Log Fields"
Allow me to define custom meta-data that will help with easy log filtering by passing Container Labels through as Log Fields.  Then I can add categorization labels to help group my Contianer Log entries.

[2016-08-17 12:58] daninthewoods opened #165 "Please support Docker 1.12 asap"
ContainerLogs seems to work fine, but the Container tile isn't leaving the 'Performing Assessment' stage when using 1.12.  Confession: I have not tested earlier docker versions, so I'm assuming this is the issue.

[2016-08-17 20:02] agup006 commented on #149
Today there is no Configuration Setting to set the IP Address, we look at adding this improvement in a later release

Thanks,
Anurag

[2016-08-17 20:03] agup006 commented on #140
Hi pdiniz13, are you still seeing this error in Log Search? Are you able to send me a quick screenshot? My email is anugup @ microsoft dot com

[2016-08-17 20:04] agup006 commented on #100
Hi @danibaeyens I am going to close this, feel free to re-open if issue is persisting with latest agent v1.1.0-239. Additionally, we are introducing other mechanism to get MySQL metrics that is Ruby based

[2016-08-17 20:04] #100 closed

[2016-08-17 20:10] agup006 commented on #47
Hi all, In some cases the docker configuration does not get loaded as part of the agent install. The `container.conf` file can be found [here](https://github.com/Microsoft/Docker-Provider/blob/master/installer/conf/container.conf) - and can be copied over to /etc/opt/microsoft/omsagent/conf/omsagent.d/.

This configuration file opens the port to listen for logs being sent from the docker daemon.

[2016-08-17 20:10] #138 closed

[2016-08-17 20:11] agup006 commented on #165
Support is in the works @daninthewoods, @keikhara can provide more details

[2016-08-18 15:35] jeffaco opened #169 "OMS-Agent can now be built from source"
Since OMS-Agent-for-Linux has released, the community was unable to build OMS-Agent-for-Linux from source because one of the components, [OMI](https://github.com/Microsoft/omi), was not public. This has come up multiple times (in relation to Raspberry Pi and other issues as well).

As of now, the [OMI](https://github.com/Microsoft/omi) repository is now public (this coincides with PowerShell for W

[2016-08-19 22:03] mw007 opened #172 "SELinux prevents omsagent logrotate settings after install on RHEL"
After installing omsagent on RHEL 7.2, log rotation is prevented by Red Hat's SELinux targeted policy. The error encountered is:

`error: stat of /var/opt/microsoft/omsagent/log/omsagent.log failed: Permission denied`

SELinux logs the following in /var/log/audit/audit.log:

[code]

This issue is fixed manually with the following commands (run as root):

[code]

However, this is a manual modificat

[2016-08-20 03:28] shaneholloman opened #173 "OMS Agent Start fail - x86_64-linux/openssl.so (LoadError)"
**Version** `omsagent-1.1.0-239.universal.x64.sh`

[code]

[code]

[code]

[2016-08-22 17:09] rjcrystal commented on #173
i had the same problem, please refer issue #106

[2016-08-22 17:26] rjcrystal commented on #106
Hi @jeffaco i  tried with ubuntu 16.04 works fine :smile: but when i try with ubuntu 14.04 with even newer version of openssl it gives boot error in ruby jem.
[code]
[code]

error
[code]
this is very weird, any ideas what is happening here ?

[2016-08-24 04:04] #47 closed

[2016-09-07 01:35] colemickens opened #189 "Systemd configuration should use drop-in units"
You should use drop-in units to reconfigure docker rather than editting the system package's `docker.service`. The Docker docs documents this process pretty clearly.

[2016-09-09 03:07] keikhara commented on #165
Hi @daninthewoods, we are looking to support Docker 1.12 version this month. We will keep you posted.

[2016-09-09 11:16] daninthewoods commented on #165
Great timing, we'll keep an eye out for the update.

[2016-09-12 18:11] agup006 commented on #189
@keikhara for Docker improvement

[2016-09-12 18:19] keikhara commented on #189
Thanks Let me look into this.

[2016-09-14 09:10] brandubh opened #201 "Cisco ASA logs are not correctly parsed"
The host name is captured from the time part of the message, basically the format regexp is incorrect.
I cannot create a pull so if you're interested this is the format that is working in my environment:
/^(?<time>[^ ]*\s*[^ ]* [^ ]* [^ ]*) (?<host>[^ ]*) : (?<ident>[a-zA-Z0-9_%\/\.\-]*)(?:\[(?<pid>[0-9]+)\])?(?:[^\:]*\:)? *(?<message>.*)$/

[2016-09-18 07:18] mgladi commented on #201
Hi brandubh,
Can you please provide a few examples of messages where the host name was captured incorrectly?
Also, If you can, please specify the OS and syslog daemon in which you encountered the issue.

Thanks!

[2016-09-19 06:05] brandubh commented on #201
Hi Michael,
I'm currently using Ubuntu and sending syslog entries directly to the OMS agent (but it doesn't make any difference transiting from rsyslog), immo it's not an OS related issue, maybe a Cisco iOS version issue that anyway should be managed by the solution.
This is a sample log entry written by the ASA with deviceId enabled (more info https://nocentdocent.wordpress.com/2016/09/14/msoms-c

[2016-09-21 12:55] fjollberg opened #212 "hub omsagent"

[2016-09-21 12:55] #212 closed

[2016-09-28 14:03] lscarso opened #232 "ipv6 proxy on OMS Agent for Linux GA v1.2.0-75 no more work"
After update oms agent for Linux to 1.2.0-75 ipv6 proxy no more work. ipv4 work instead correctly.
Version 1.2.0.25 was working fine also.

/etc/opt/microsoft/omsagent/conf/proxy.conf
http://[fc00::1]:8123

/var/opt/microsoft/omsagent/log/omsagent.log
2016-09-28 15:52:28 +0200 [error]: Failed to parse the proxy configuration in '/etc/opt/microsoft/omsagent/conf/proxy.conf'
2016-09-28 15:52:28 +020

[2016-09-28 15:43] robbiezhang commented on #232
I don't think OMS agent supports ipv6 proxy before. You can check the history of the parse_proxy_config function in oms_configuration.rb. The <?address> part of the regex doesn't allow ':'.
Thanks for the feedback anyway, we will consider to support it in the next version.

[2016-09-29 08:34] mgladi commented on #201
Hi Daniele,

A fix for was merged into the master:  #233
I'm going to close the issue now.
Feel free to reopen it if you see any more parsing errors.

Thanks a lot for reporting this.

[2016-09-29 08:36] #201 closed

[2016-09-30 06:52] keikhara commented on #165
it's supported.

[2016-09-30 06:53] keikhara commented on #164
we will look into this. thanks.

[2016-09-30 10:48] edevil opened #235 "Better Kubernetes support"
I'm trying to integrate the OMS agent in my Kubernetes cluster but there are certain things that could be improved. I'm using CoreOS, so I had to run the OMS agent in a privileged container as described in https://hub.docker.com/r/microsoft/oms/. The fact that I have to configure the Docker daemon to use the fluentd log driver instead of the json driver prevents certain commands like "docker logs"

[2016-09-30 12:23] daninthewoods commented on #165
Nice job.  We'll best testing it next week.

[2016-09-30 12:32] edevil commented on #235
I managed to find the fluentd installation inside the OMS Agent, however I could not install the plugin due to an old version of Ruby:
[code]
Can I upgrade the Ruby version?

[2016-10-06 05:40] mabicca opened #241 "OMSAgent crashes depending on /etc/hosts configuration"
I have seen a few cases where if the hosts file has lots of static entries, the omsagent service or even installation might crash. The problem with the service crashing is that it will create lots of core files, sometimes filling up the disk.

In this case you can see the exception during the install:
[root@centos72 tmp]# ./omsagent-1.2.0-75.universal.x64.sh --install
Checking host architecture ..

[2016-10-06 05:42] mabicca commented on #241
After a few minutes, you start seeing files like:

[root@centos72 run]# pwd
/var/opt/omi/run
[root@centos72 run]# ls -la
total 5700
drwxr-xr-x. 2 root root      95 Oct  6 05:41 .
drwxr-xr-x. 8 root root      75 Oct  6 05:39 ..
-rw-------. 1 root root 2416640 Oct  6 05:40 core.1415
-rw-------. 1 root root 1880064 Oct  6 05:40 core.1418
-rw-------. 1 root root 2945024 Oct  6 05:41 core.1495

You can

[2016-10-06 13:00] jeffaco commented on #241
I looked at something similar to this three or four months ago. While your host file is different than the one that I looked at, the fundamental problem is: Actual Linux system calls were failing to even look up the host name. We need the host name (and domain) to generate a certificate and, without it, we can't proceed.

We can certainly look at the OMS installation script to make it abort instal

[2016-10-07 20:57] KrisBash commented on #241
@mabicca  Can you run `hostname` and `hostname --fqdn` without error? I am not sure that the core dumps are necessarily related to the name lookup error. Let's work through them separately.

[2016-10-09 06:45] mabicca commented on #241
Hi @jeffaco yes! :) I worked with you on that, I think if we can somehow abort the installation or show a warning about the /etc/hosts file it would be good. Is that something we can do?

@KrisBash I'll be working tomorrow and I can definitely run that and add in here too.

[2016-10-09 20:52] mabicca commented on #241
I am getting this with hostname and hostname --fqdn

[root@centos72 run]# hostname --fqdn
centos72.nd4dyczin4gujlu0aywslhe4ig.dx.internal.cloudapp.net
[root@centos72 run]# hostname
centos72

I did notice that with the bad hosts file hostname -A fails and hostname -a returns null. It also seems that the recommended method of getting the hostname is using getent. I have not tested that yet and not s

[2016-10-10 12:25] daninthewoods opened #244 "Badly parsed fields when ports in Image URL's"
Using latest Ignite version of OMS Linux Agent with Docker 1.12.1, when image URL's contain port numbers it seems to be badly parsed into fields with incorrect values

When URL would be: registry.somehost.com:18443/zzz/xxx-yyyyyy-services:12.6.0

But is parsed into the following fields
Repository:registry.somehost.com:18443
Image:zzz/xxx-yyyyyy-services:12.6.0
ImageTag:18443/zzz/xxx-yyyyyy-service

[2016-10-10 16:07] KrisBash commented on #241
@mabicca
What is the output of: `sudo /opt/microsoft/scx/bin/tools/scxsslconfig -f -v` ?  This will attempt to regenerate the certificate (the failing step of the installation) with verbose output.

Thanks

[2016-10-10 21:43] KrisBash commented on #241
@mabicca @jeffaco and I discussed this today. Firstly, we have had another report of core dumps being generated by the omiagent process. We have a potential fix for that under testing now. Unless we find out otherwise, I suspect the core dumps you are observing are likely related.

As for the exception in scxsslconfig. We are contemplating adding improved error messages for such a case, but in any

[2016-10-11 02:40] mabicca commented on #241
Hi Kris, thank you for the update.

Yes, running the scxsslconfig throws an exception:

/opt/microsoft/scx/bin/tools/scxsslconfig -f -v
Setting debugMode=true
terminate called after throwing an instance of 'SCXCoreLib::SCXInternalErrorException'
Aborted

I can see that excluding the lines it runs fine. Is the scxsslconfig failing because it sees more than one hostname associated with the IP of the

[2016-10-11 23:04] jeffaco commented on #241
@mabicca I'd like to get better error handling for this than an internal exception and a core dump! 😞 Can you please give me super-explicit steps on how to reproduce this? That is:

- Give me the host file that is on the system,
- Looks like you were installing omsagent-1.2.0-75, yes?
- You have access to our build share, yes? (Follow up internally if you don't know what I'm talking about) If yes,

[2016-10-11 23:52] mabicca commented on #241
I'm following up internally with you guys.

I just confirmed I was indeed using 1.2.0-75.

Thanks!

[2016-10-24 23:53] #241 closed

[2016-10-26 01:53] agup006 commented on #235
Hi @edevil, We are looking to upgrade the version [2.2.2+] of Ruby in the OMS Agent for Linux in the next couple of months.

Today you can change the git module in the OMS Agent for Linux source to reference to Ruby v2.2.2+.

Thanks,
Anurag

[2016-10-28 14:09] edevil commented on #235
Are there any build instructions for the OMS agent?

[2016-10-28 15:02] jeffaco commented on #235
@edevil, See the [superproject](https://github.com/Microsoft/Build-OMS-Agent-for-Linux), it has detailed build instructions for the OMS agent.

[2016-11-05 23:27] nhinds opened #264 "'Onboarding using a file' documentation is incorrect"
The [Onboarding using a file](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/docs/OMS-Agent-for-Linux.md#onboarding-using-a-file) instructions in the documentation do not work. The user is instructed to run `sudo service omsagent restart`, but if the OMS agent is not onboarded during installation the `omsagent` service does not exist.

To reproduce on 64-bit Ubuntu 16.04:
1. Run `sud

[2016-11-05 23:30] nhinds commented on #264
I can't actually get any of the command variants from #185 to work to onboard the agent. All of the `service_control` options just result in "Warning: Agent is not onboarded. omsagent cannot be registered as a service."

[2016-11-06 01:24] nhinds opened #265 "'Onboarding using the command line' cannot be run as the omsagent user"
The [Onboarding using the command line](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/docs/OMS-Agent-for-Linux.md#onboarding-using-the-command-line) instructions say that the `omsadmin.sh` command "must be run as root (w/ sudo elevation) or run as the created omsagent user".

If the command is run as the `omsagent` user, it fails with the following while trying to create the `omsage

[2016-11-08 01:36] shuliums opened #268 "Implemented the logic of transforming XML to JSON from fluentd filter to source in patch_management.conf"
Implemented the logic of transforming XML to JSON from fluentd
filter to source to resolve memory issues. Two filters related to Patching management (patch_management.conf) in existing code has memory issue. More details can be found in
https://github.com/Microsoft/OMS-Agent-for-Linux/pull/257

 oms.patch_management
oms.patch_management_immediate_run

[2016-11-12 11:13] daninthewoods opened #277 "Container Memory charts should show Container Name, not ID"
The Container Memory Usage tile uses this search
`Type=Perf ObjectName=Container CounterName="Memory Usage MB" | Measure Avg(CounterValue) as AvgUsedMemory by InstanceName interval 30minute`

However, this provides a list of container ID's.  Can this be changed (or help me define a custom search) that will provide the same data, but labelled by the Name of the container (ie. ContainerInventory.Nam

[2016-11-16 22:49] #140 closed

[2016-11-16 22:50] #165 closed

[2016-11-16 22:52] keikhara commented on #277
Please update your OMS Linux Agent to the latest version. This is fixed in latest version of the agent.

[2016-11-16 22:53] keikhara commented on #189
We change the method in the latest version 1.2.0-148 of the OMS Linux Agent. No longer you need these settings.

[2016-11-16 22:53] #189 closed

[2016-11-17 00:28] #277 closed

[2016-11-24 13:07] mictsi opened #286 "Newest version, omsagent-1.2.0-148, of the oms agent seem to crash continuously and fills upp the disk with core dumps under the following path, /var/opt/omi/run/."
Installed the newest version, omsagent-1.2.0-148, of the oms agent seem to crash continuously and fills upp the disk with core dumps under the following path, /var/opt/omi/run/.
The issue seems to be with the omi provided in that package and verified that it crashes on ubuntu 16.04.1 and centos 7.2. Previous versions of the agent worked without issues.

Running on the vm's is
Docker 1.12.3
Omsagen

[2016-11-24 18:35] edevil commented on #235
@jeffaco The instructions mention that if I don't have access to the "OMS TestConfig" repo I should only run the first git clone. However, even there I get denied access to another repository:

[code]

[2016-11-25 00:01] jeffaco commented on #235
@edevil Sorry, this change was made recently, and I was unaware of it.

I'm not sure what OMS-Auditd-Plugin is, and why it's private.

@robbiezhang Can you give guidance here please?

[2016-12-01 15:21] DonMorrisRak opened #290 "Logs filling up with package descriptions"
The Change Tracking module from the workspace is filling the log file with a description of each installed package.

Here is an example from the logs:
[code]

I have tried removing and reinstalling the agent and adding/removing the VM from the OMS workspace.
I am a little stuck on where to go from here and any guidance will be appreciated.

Thanks
Don

Version info:
[code]

[2016-12-02 22:06] ediazrod opened #291 "No parsing error on logs from swichng netgeat"
I redirect the logs to the oms agent form a Netgeat GS724Tv3

I am getting this error.

2016-12-02 23:02:11 +0100 [error]: "<14> Dec 02 23:02:11 192.168.2.254-1 UNKN[2182428004]: cli_txtcfg.c(608) 62 %% Text Configuration of length 2623 (126 CMDS) compressed to save 60% Flash" error="invalid time format: value =  Dec 02, error_class = ArgumentError, error = invalid strptime format - `%b %d %H:%M:%

[2016-12-04 13:56] andmattia opened #292 "No Linux udpate data collected"
My Ubuntu srv not collected data from update (3 servers effected) on log no information available.

mat

[2016-12-12 19:35] agup006 commented on #286
Thanks mctsi,

If the docker provider is not installed do you still run into this issue?

Anurag

[2016-12-12 19:45] agup006 commented on #291
Hi Ediazrod, this looks to be an error in the syslog filter on top of the raw data from the network device.

If you remove the time_format parameter are you getting any errors in the log? Additionally, with the tag `oms.prueba` you will also want to make sure the following filter is in your config to send data to OMS
[code]

[2016-12-12 20:19] vrdmr commented on #292
Hey Mattia,

Can you please confirm the following things for me?

- What is the version of the OMSAgent you installed?
- Do you have the whole Automation and Control package (which includes both Change Tracking and Update Assessment) enabled, or is it just Update Assessment? (Could you enable Change Tracking as well, if it is not enabled yet)
- Which version of Ubuntu are you using?
- Do you see o

[2016-12-13 01:09] youngbupark opened #300 "segment fault in docker container."
We're using DCOS as a container OS, but every node in the docker cluster shows the below segment fault errors in the log. any idea?

[37649.866296] omiagent[13741]: segfault at 10 ip 00007f645fbbc869 sp 00007fff3cbfaad0 error 4 in libcontainer.so[7f645fb5d000+77000]

[37681.862753] omiagent[13962]: segfault at 10 ip 00007f083abf6869 sp 00007ffccbd94220 error 4 in libcontainer.so[7f083ab97000+77000

[2016-12-13 12:27] mictsi commented on #286
Hi Anurag,

opened an issue with the azure oms group after talking to MS rep.
The issue seems to be in docker cimprovider and they (Raghu Shanta) are developing a fix.

Michael

[2016-12-13 16:58] keikhara commented on #286
Hi Michael,

that is my team that is working for this fix.

Keiko

[2016-12-15 17:18] keikhara commented on #244
Hello, can you provide which version of docker, OS type and version. Thanks.

[2016-12-15 17:20] raghushantha commented on #300
@youngbupark I have made a few reliability fixes lately to the Docker-Provider. Please try by updating the package.

[code]

[2016-12-15 17:21] keikhara commented on #235
Hi @edevil,

this method has changed. You no longer need to set the --log-driver anymore.
Please check our latest version. You will see the instruction has changed.

[2016-12-15 18:12] edevil commented on #235
@keikhara Ok, that's good to know. What about the upgraded ruby version? I would like to be able to use the fluent-plugin-kubernetes_metadata_filter plugin in order to augment the log lines with Kubernetes specific information. However, it requires ruby >= 2.2.2.

[2016-12-15 18:51] keikhara commented on #235
Hi @edevil,

for the ruby version,  my colleague, @robbiezhang can provide more guidance.
We are looking to support Kubernetes in future in addition to the Mesosphere DC/OS we have just supported.

regards,

Keiko

[2016-12-15 22:15] raghushantha commented on #286
@mictsi has the updated bundle with the fix now.

Sharing the instructions for the updated bundle so that others can use this if they see a similar segfault

[code]

[2016-12-16 00:39] daninthewoods commented on #244
Fixed in latest version, thanks.

[2016-12-16 00:39] #244 closed

[2016-12-16 03:24] youngbupark commented on #300
@raghushantha thanks. I'm applying this to all OMS containers. We will take a look more.

[2016-12-16 08:50] OguzPastirmaci commented on #235
@edevil, for monitoring the containers in the cluster, you can deploy the OMS agent running as a container to Kubernetes using this DaemonSet:

https://gist.github.com/OguzPastirmaci/bba85a47c7c5fb71dc6e6f2acdd13249

[2016-12-16 10:09] edevil commented on #235
@OguzPastirmaci Yes, that is what I'm planning to do. But I still need to be able to use the fluentd plugin that retrieves additional data from the Kubernetes API.

[2016-12-16 17:49] keikhara commented on #286
Will close this per Michael's comment. See below:

Ok, thanks Raghu
I just validated the cimprovider and it works fine.
Thanks for the quick help Raghu, Jose and Keiko.
I am off to vacation now, happy holidays and again thanks for the help.

/Michael

[2016-12-16 17:49] #286 closed

[2016-12-16 17:55] keikhara commented on #235
@edevil @OguzPastirmaci

I will consider this an enhancement which we will be working on.
regards,

Keiko

[2016-12-29 09:29] arvedarved opened #312 "Syslog detection uses hardcoded paths"
Currently hardcoded paths are used to find syslog-ng.conf in linux.data

E.g. OMS-Agent expects syslog-ng.conf in /etc/syslog-ng/syslog-ng.conf. On my distribution it is in /etc/syslog-ng.conf Other valid locations are e.g. /usr/local/etc/syslog-ng.conf

Possible solutions:
* Allow specifying location of configuration files as commandline arguments
* Test for common paths

This also applies to oth

[2016-12-29 09:42] arvedarved opened #313 "Installer: Detection of architecture error prone"
The get_arch() function currently uses uname for detecting if it is running 64bit.

This does not detect if a 32bit userland is used with a 64bit kernel. Better solution: use `getconf LONG_BIG` which returns either 64 or 32.

[2016-12-29 22:29] ediazrod commented on #291
Yes I am using:```

<filter oms.prueba.**>
  type filter_syslog
</filter>
[code]

[2016-12-30 12:39] arvedarved commented on #52
same here. omsagent-1.2.0-148; onboardings works. Data shows up in Log Analytics, but Virtual machine is reported as "Not connected" in Azure Portal

[2017-01-01 16:40] alexlokshin opened #315 "OMI Consumes all available space"
This issue affected all of my Azure VMs (about 20 of them), in the past week. OMI Agent fails repeatedly, creating literally thousands of core dump files under /var/opt/omi/run/core.*, until running out of space. Is there any way to prevent this behavior?

Thanks,
Alex

[2017-01-03 20:56] KrisBash commented on #315
Alex,
Can you confirm the oms agent version on these VMs? Are the VMs running Docker? Can you paste a sample of the output of the following (the file location will depend on your distro)?
`sudo grep segfault /var/log/messages`
`sudo grep segfault /var/log/syslog`

Thanks,

Kris

[2017-01-03 20:57] KrisBash commented on #312
Hello,

What Linux distribution/version is this?

Thanks,

Kris

[2017-01-03 21:19] alexlokshin commented on #315
_sudo grep segfault /var/log/messages_ produces

`

Jan  2 17:02:32 DataCollector2 kernel: omiagent[36983]: segfault at 10 ip 00007f01ba572869 sp 00007ffeb823f150 error 4 in libcontainer.so[7f01ba513000+77000]
Jan  2 17:03:07 DataCollector2 kernel: omiagent[37112]: segfault at 10 ip 00007f0e93590869 sp 00007ffd6f93a9a0 error 4 in libcontainer.so[7f0e93531000+77000]
Jan  2 17:03:42 DataCollector2 k

[2017-01-03 21:21] alexlokshin commented on #315
_sudo grep segfault /var/log/syslog_ produces

grep: /var/log/syslog: No such file or directory

I'm running CentOS 7.2 on all systems.

[2017-01-04 10:21] arvedarved commented on #312
A custom one.

[2017-01-04 18:38] KrisBash commented on #315
@alexlokshin
This appears to be the same as this [issue](https://github.com/Microsoft/OMS-Agent-for-Linux/issues/300). You can try the steps in that issue. If that does not help, you can work around this for now with:
`sudo rpm -e docker-cimprov`
`sudo service omsagent restart`

[2017-01-05 23:16] robbiezhang commented on #265
@nhinds Thank you for the feedback. We'll update the document.

[2017-01-05 23:26] robbiezhang commented on #264
@nhinds Thank you! The document is out of date. We'll update it.
Basically, it should not call service omsagent start, but sudo /opt/microsoft/omsagent/bin/omsadmin.sh

[2017-01-06 00:52] #264 closed

[2017-01-11 12:44] gunnarstolz opened #331 "Any documentation on how to write own .conf files? Needed for custom query to MySQL"
For monitoring of our MySQL-cluster I would like to add an additional <source> Element to mysql.conf, which should execute a query like "SELECT 1 FROM dual;".
Unfortunately I cannot find any documentation on how the attributes of <source> element should be used.
What I did find were examples on how to use "tail log" or "execute scripts". So, what I tried was to execute an SQL query as mysql-client

[2017-01-12 01:08] robbiezhang commented on #331
The exec and tail plugin are fluentd built-in ones. You can find the document here:
http://docs.fluentd.org/articles/in_exec
http://docs.fluentd.org/articles/in_tail

You can to make the tag like "oms.api.[type]", it will use the out_oms_api plugin to send the data to OMS.
Please also make sure the out put of the command is a simple json (not an array, no json as property). Otherwise, you can use

[2017-01-16 19:14] sammurcio opened #337 "Latest version deployed through extension or manually errors out due to incorrect path"
Deploying to RHEL based devices, Barracuda NGF and WAF fails with the following errors , is this due to missing dependencies in the images of these devices?

Extension stdout
Installing resource MSFT_nxGroupResource
Error: Unable to find directory in module at /opt/microsoft/omsconfig/modules/nx/DSCResources/MSFT_nxGroupResource/x86, unable to install module.
Installing resource MSFT_nxOMSKeyMgmtR

[2017-01-17 14:00] SamirFarhat commented on #103
Hello all,

Is there any update about this thread ?
I was faced to the same issue MarianoMunoz is encountering, and i can't make the OMS agent start after adding the 'newsyslog' type. The OMS Agent service fails to start.

[2017-01-19 01:36] hunty1 commented on #315
I am also seeing this issue.
This makes it unusable for us in prod

[2017-01-20 17:23] keikhara commented on #300
@youngbupark
Have you tried the private which Raghu has provided? Is this the results from installing it?
What docker version are you using?

[2017-01-24 20:12] bfcamara opened #348 "Multiple workspaces: version 1.3.0 download?"
From where can I download the version mentioned in the Full Documentation (1.3.0)? The `master` branch mentions a version 1.3.0 in the docs but if I run the command copied from OMS Portal

[code]
It downloads version 1.2.0-148, which doesn't support multiple workspaces.

If I try the command to list all the workspaces as mentioned in docs to

[code]
I got the error "Illegal option"

[code]

[2017-01-26 13:06] brandubh opened #357 "process_stats_ files never deleted"
thousands of process_stats_* files are created and never deleted in /var/opt/microsoft/omsagent/tmp
If I can point a finger, I would say: source/code/plugins/agent_topology_request_script.rb

[2017-02-01 11:27] arvedarved commented on #348
Latest version offered in Azure is 1.3.12

If you click on Connect in Log Analytics, the following is installed:

https://zrdfepirv2am5prdstr14a.blob.core.windows.net/8b23413e0ce64aa89889a295b6122112/Microsoft.EnterpriseCloud.Monitoring__OmsAgentForLinux__1.3.12.0

This github repo seems to be a bit out of date.....

[2017-02-01 11:29] arvedarved commented on #337
Speaking for NGF: This error happens because you are installing the 64bit version instead of the 32bit version.

[2017-02-01 11:34] #348 closed

[2017-02-01 11:35] bfcamara commented on #348
Thank you. Yes, the repo seems out of date.

[2017-02-02 11:02] brandubh opened #366 "OMSAgent fills the os disk and wreck havoc the system"
two different causes, same effects: the omsagent.log grows out of control filling the os disk and basically disrupting the monitored system. This is a condition that must be avoided at all costs, the agent must not disrupt the monitored system.

1) during a solution upgrade pushed from the cloud we got the following entry filling the log and the disk of several VMs: `[error]: exec failed to run or

[2017-02-02 18:00] EtienneDeneuve commented on #366
Where could we give the logs ? 24 go ;)

[2017-02-02 18:17] EtienneDeneuve commented on #366
I needed to recover my service so I deleted it but here is a tail -n 200 on the omsagent :
https://gist.github.com/EtienneDeneuve/cd6b86d6f175663f02e21cbc7d60ce59

[2017-02-02 18:59] EtienneDeneuve commented on #366
I've published a quick fix on my blog using logrotate to avoid that before a fix http://etienne.deneuve.xyz/2017/02/02/agent-oms-sur-linux-dans-azure/

[2017-02-03 14:59] ngroon commented on #366
+1 on issue #1 mentioned by @brandubh

[2017-02-03 17:38] slumos commented on #366
Getting the same issue. Same error message. Relevant lines from our logs below. There's nothing relevant for hours before this happens. After, the last line below is logged about 2000 times per second until omsagent is restarted.

[code]

[2017-02-04 03:38] drbolsen opened #369 "omniagent process constantly crashes on CoreOS"
**[Environment]**
[code]
**[OMS Agent]**
[code]

We used **microsoft/oms:lastest** docker image to run in our environment. It starts without a problem and oms containers seem stable however logs are plagued with crash/coredump messages, like below:

``Feb 04 14:07:41 devops-3 kernel: omiagent[22274]: segfault at 28 ip 00007f40b4d075fc sp 00007fffc3a0ebe0 error 4 in libcontainer.so[7f40b4cbd000+770

[2017-02-04 13:58] msternik opened #370 "Problem when installing on ubuntu 16.04"
Hi,

I have problems installing the agent via the command:

wget https://raw.githubusercontent.com/Microsoft/OMS-Agent-for-Linux/master/installer/scripts/onboard_agent.sh && sh onboard_agent.sh -w ** -s ** -d opinsights.azure.com

The errors are as per below. Any idea how to fix this? Thanks!

/var/lib/dpkg/info/scx.postinst: 154: /var/lib/dpkg/info/scx.postinst: /opt/omi/bin/service_control: not

[2017-02-06 05:52] #331 closed

[2017-02-06 05:59] NarineM commented on #173
This has been resolved in latest code base that sits in master branch. Azure VM extension also offers the latest omsagent #1.3.12 which has the fix for ruby symbols. Give it a try and let us know if you still see this repro.

[2017-02-06 09:56] williamayerst commented on #366
Getting this issue also on Ubuntu 16.04 in multiple OMS agents connecting to multiple dashboards

[2017-02-06 10:06] hepf68 commented on #366
I'm getting this issue on CentOS release 6.8 (Final). It creates 20GB of logs on each machine :O

[2017-02-07 18:07] edevil commented on #235
I've noticed that there's a commit 210ccc2 from October 2016 that upgrades the Ruby version of the OMS agent, however I've just tried the ruby version on the latest Microsoft/OMS docker image and it's still 2.2.0:
[code]
When will this commit reach a release?

[2017-02-08 10:01] williamayerst commented on #366
Any update on this? We're not the only ones affected!

[2017-02-08 11:44] webash commented on #366
+1 to having this issue

[2017-02-08 11:47] webash commented on #315
Similar to this issue https://github.com/Microsoft/OMS-Agent-for-Linux/issues/366

[2017-02-08 12:06] webash commented on #366
@robbiezhang @lagalbra @agup006 @NarineM - anyone able to take a look at this for us?

[2017-02-08 14:25] hbrother commented on #366
We have been fighting this issue too. It has filled the disk on several of our prod servers. Thankfully, our Platform Admins have prevented outages.

Here is what we are seeing in our logs:
2017-02-02 09:48:02 -0500 [info]: reading config file path="/etc/opt/microsoft/omsagent/conf/omsagent.conf"
2017-02-02 09:48:02 -0500 [info]: starting fluentd-0.12.24 without supervision
2017-02-02 09:48:02 -05

[2017-02-08 14:54] hbrother commented on #366
Update: We are setting our logging level to "fatal" to avoid filling up disk.

If anyone knows of a way to change the location of the logs that would give us better options.

[2017-02-08 15:41] EtienneDeneuve commented on #366
Sorry @hbrother if my fix not work on your side.. feel free to give my contact info to your admins, maybe we can find a better solution together :)

[2017-02-08 15:51] hbrother commented on #366
@EtienneDeneuve No worries. It may be that one of the other settings we have interfered with your working solution.  Our settings were: `{
  rotate 5
  missingok
  notifempty
  compress
  size 50k
  copytruncate
  postrotate
        /sbin/service omsagent restart
  endscript
}`

[2017-02-08 19:30] lagalbra commented on #366
The root issue has been mitigated. An error-causing conf file `security_baseline.conf` has been removed via a DSC update to affected machines (those with the Security and Audit OMS solution enabled). To check that it has been removed from your machine, verify that the file `/etc/opt/microsoft/omsagent/conf/omsagent.d/security_baseline.conf` does not exist.

Our team is currently working on improvi

[2017-02-08 19:31] #366 closed

[2017-02-09 08:36] webash commented on #315
Check #366, a solution has been posted there.

[2017-02-09 11:59] webash commented on #366
Thanks @lagalbra. I notice the installation instructions refer to version 1.3.0, yet that version isn't in the releases. Will that be released soon?

[2017-02-09 12:05] webash commented on #366
I can confirm that my machine did still have the `security_baseline.conf` file, so had to follow the purge steps and reinstall.

[2017-02-09 17:06] lagalbra commented on #366
@webash Our goal is to release OMSAgent version 1.3.0 this month.

[2017-02-10 10:32] williamayerst commented on #366
@lagalbra can you please advise how we deal with the OMS Agent Extension object? It will still be extant on the machines even though the OMS agent will be installed in Step 4 of your instructions, and ideally we'd like to use this method to reinstall rather than transferring files to EVERY affected linux machine in our enterprise.

Thanks,

[2017-02-11 14:51] webash commented on #366
Unfortunately this issue hasn't been resolved by reinstalling the agent. `security_baseline.conf` has returned to the machine and the log has filled the drive again. @lagalbra

[2017-02-13 17:46] lagalbra commented on #366
@webash Could you copy the contents of `security_baseline.conf` into this thread?
If you want to temporarily resolve the issue before the fixed version is fully deployed, the file will be removed from your machine if you disable the Security and Audit solution in your OMS workspace.

[2017-02-13 18:30] ngroon commented on #366
We too had the security_baseline.conf file.  Just wanted to confirm that the purge uninstall/reinstall fixed the issue for us.

Thanks, @lagalbra

[2017-02-15 11:04] brandubh opened #375 "Custom Log ingestion issue with noperm files"
Actually this is a bug you inherit from fluentd [#936](https://github.com/fluent/fluentd/issues/936)
When a custom log files is specified omsagent user doesn't have access to, the following log entry is recorded every second by the in_tail plugin:

This fills the disk in a similar way of issue [#366](https://github.com/Microsoft/OMS-Agent-for-Linux/issues/366)

My 2c: either you fix the fluentd in

[2017-02-16 18:20] lagalbra commented on #235
@edevil We're looking to release a version this month that contains the update to Ruby 2.3.3, originating from commit https://github.com/Microsoft/OMS-Agent-for-Linux/commit/210ccc2247b463439ddb196a60e3acc095e8052b

[2017-02-16 18:40] gauravga commented on #290
hi Dan,

Thank you for reporting this issue.
Can you please post the full log?
Also what is AbiWord? how is it interfacing with omsagent?
Can you please provide more details on why would Abiword related logs show up in omsagent logs?

For now, if you don't want package tracking to be active, you can opt out of package change tracking from oms portal

Thank you

[2017-02-21 23:31] webash commented on #366
Apologies for the delay @lagalbra, here is the contents of `security_baseline.conf`

[code]

[2017-02-22 00:18] lagalbra commented on #366
@webash Your `security_baseline.conf` file is the buggy one that should have been removed from all customers' machines. I would recommend purging the agent and disabling the Security and Audit solution on the connected workspace. Delete any remaining large log files and make sure there are no remaining `omsconfig/` or `omsagent/` folders remaining on the machine. Then install the agent again.

We

[2017-02-22 03:50] keikhara commented on #369
Let us look into this.

[2017-02-22 03:51] keikhara commented on #357
@brandubh Can you provide which version of the agent this is? thanks.

[2017-02-22 03:54] keikhara commented on #315
@hunty1 Hi, which version of the omsagent are you using? we do have a fix for the segfault related to libcontainer.so.  The latest version of the agent 1.3.0-12 should have this fix. Can you try it again?

thanks,

[2017-02-22 04:14] hunty1 commented on #315
@keikhara Not using OMS anymore. Will wait for it to mature before we use it again.

[2017-02-22 12:49] enmand commented on #315
@keikhara - I'm having the same problem, but I can't find a version 1.3.0-12 to download and install as the agent on my machines. Is there a release somewhere, or do I have to build it myself?

Thanks!

[2017-02-22 16:10] enmand commented on #315
Just to follow up on the above, based on the stack trace, we cleared out `var/opt/microsoft/docker-cimprov/state/ContainerInventory/*` and `/var/opt/microsoft/docker-cimprov/state/ImageInventory/*` and re-installed the updated `docker-cimprov`, and we're not seeing any core dumps any more. (Still hoping to see 1.3.x soon for the Network Performance Monitoring stuff though! :))

[2017-02-22 17:58] lagalbra commented on #291
@ediazrod Since your log is not exactly the same format as a syslog, perhaps you should write your own filter plugin to parse the information. I've linked the [FluentD documentation](http://docs.fluentd.org/v0.12/articles/in_syslog#format) for how to involve regular expressions in parsing your logs.

I would recommend looking at several example logs that you're producing and determining exactly wh

[2017-02-22 18:04] lagalbra commented on #312
@arvedarved Unfortunately, since your Linux machine is custom (and therefore not on our documented list of [supported distributions](https://github.com/Microsoft/OMS-Agent-for-Linux#supported-linux-operating-systems)), you may have to customize some of the OMSAgent support yourself.

I would encourage you to create a fork of our repository, alter the differing paths, and [build a bundle](https://g

[2017-02-22 18:08] lagalbra commented on #337
@sammurcio Can you confirm that installing the [x86 bundle](https://github.com/Microsoft/OMS-Agent-for-Linux/releases/download/OMSAgent-201610-v1.2.0-148/omsagent-1.2.0-148.universal.x86.sh) resolves this error?

[2017-02-22 18:18] lagalbra commented on #357
@brandubh Can you provide the content of one of these files?

I do not believe that [agent_topology_request_script.rb](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/source/code/plugins/agent_topology_request_script.rb) is causing the issue, as it never creates a file.

[2017-02-22 19:08] lagalbra commented on #370
@msternik What Linux distribution/version did this run on?

My first suggestion is to purge and reinstall the agent shell bundle that was downloaded by the `onboard_agent.sh` script (replace `x64` with `x86` if yours is a 32-bit machine):

[2017-02-22 19:22] lagalbra commented on #375
@brandubh We have our own [sudo_tail plugin](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/source/code/plugins/in_sudo_tail.rb) to fix this.

Another way to handle it is to give the omsagent user permissions on that file, described at the bottom of our [MySQL logs doc](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/docs/OMS-MySQL-Instructions.md).

[2017-02-23 01:34] lagalbra commented on #357
@brandubh According to our investigation, this issue was resolved with the latest agent release, [1.2.0-148](https://github.com/Microsoft/OMS-Agent-for-Linux/releases/tag/OMSAgent-201610-v1.2.0-148). Can you confirm that your agent is older than this, or that any process_stats_* files were created before the date when you upgraded to the 1.2.0-148 version?

Once you have upgraded, you will have to

[2017-02-23 06:57] brandubh commented on #375
Hi lagalbra, as you can imagine is not so easy and bullet proof to change permissions across ten or hundreds of systems especially when logs are created by a software you con't have control on and thus can change permissions at any time. The sudo_tail plugin seems the correct answer to me and since you already have it, just set your own custom log ingestion configuration to use that instead of the

[2017-02-23 20:22] lagalbra commented on #375
@brandubh I'm sorry, I misunderstood what exactly you meant by custom logs earlier in the thread. Custom Logs are in Private Preview in the OMS Portal at the moment, so they are not fully supported yet.

Additionally, allowing the use of the sudo_tail plugin also requires some modification of the sudoers file that the OMSAgent sets up. Because of this, it is a major security risk to allow the DSC

[2017-02-23 21:27] keikhara commented on #369
@drbolsen can you try the latest? it is docker provider Version: 1.0.0.17,

thanks,

[2017-02-23 21:41] keikhara commented on #315
@enmand  can you try this private build? We will be getting a new build soon.
Do you know what version this is?

https://keiko.blob.core.windows.net/container/omsagent-1.3.1-15.universal.x64.sh

thanks,
Keiko

[2017-02-23 21:41] keikhara commented on #300
Duplicate with #369 Will close this.

[2017-02-23 21:41] #300 closed

[2017-02-24 07:07] brandubh commented on #375
Hi lagalbra, I respectfully disagree, I cannot see a security risk in configuring a log to be collected (once I'm the admin of the workspace), instead I see a serious disruption allowing me to configure something that is going to kill my linux boxes. But in the end it's your call.

[2017-02-25 13:43] webash commented on #366
Its a personal lab environment where I'm having the most profound effects from this, so I've simply stopped the OMS service on the affected machines for now. Will you be able to update us here when the new conf file has been deployed?

[2017-02-27 09:41] atmosx opened #383 "Versions and where to find them?!"
Hi,

Your [documentation](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/docs/OMS-Agent-for-Linux.md#the-oms-agent-for-linux) refers to version `1.3.x` while all installation methods mentioned in Azure panel and here (see README) refer to  version `1.2.x` which is utterly confusing.

I tried branch `OMSAgent-201702-v1.3.1-15` but the `onboard_agent.sh` is exactly the same as master.

[2017-02-27 17:43] lagalbra commented on #366
The new conf file has been deployed, but is not publicly available for the purposes of a safer preview period. If you re-onboard your machines to the OMS service now, you will not receive any version of the `security_baseline.conf` file.

[2017-02-28 00:44] NarineM commented on #383
Hi @atmosx
Here are all GitHub omsagent releases you can use: https://github.com/Microsoft/OMS-Agent-for-Linux/releases

The documentation was updated to refer to 1.3.x as the first release that would contain multi-homing feature. Today that version is only available through Azure VM extension.
If you are not depending on multi-homing (onboarding of the same agent to multiple workspaces) you can u

[2017-02-28 00:48] NarineM commented on #383
@atmosx
I can also replace 0-1 references with 1.3.x in the doc to make it clear.

[2017-02-28 06:14] atmosx commented on #383
Thanks for the comment @NarineM !

[2017-02-28 06:14] #383 closed

[2017-02-28 19:08] ckotsidimos opened #388 "Cannot download"
I cannot download the sh files! My Workstation keeps reconnecting when using wget and also the site is not responding

Links not working: https://github.com/Microsoft/OMS-Agent-for-Linux/releases/download/OMSAgent-201610-v1.2.0-148/omsagent-1.2.0-148.universal.x64.sh

https://github.com/Microsoft/OMS-Agent-for-Linux/releases/download/OMSAgent-201610-v1.2.0-148/omsagent-1.2.0-148.universal.x86.sh

[2017-03-01 14:39] sasukeh commented on #388
This links are working well now for me.
I could download sh file.
I think that would be happened by github website.

Could you try again now?

[2017-03-01 14:44] ckotsidimos commented on #388
Hi juts tried and it is OK! Sorry, time difference

[2017-03-01 14:44] #388 closed

[2017-03-02 23:51] dhermans opened #393 "ruby errors during install"
trying both omsagent-1.2.0-148.universal.x64.sh and omsagent-1.3.1-15.universal.x64.sh I get this during install on Centos 7 ( recently patched to CentOS Linux release 7.3.1611 (Core) ):

info    Reading onboarding params from: /etc/omsagent-onboard.conf
Ignoring executable-hooks-1.3.2 because its extensions are not built.  Try: gem pristine executable-hooks --version 1.3.2
Ignoring gem-wrappers-1

[2017-03-03 20:02] #172 closed

[2017-03-06 03:26] sedouard opened #398 "Constant 95% CPU Utilization"
Hey there. One of our Ubuntu 14.04 machines are constantly running at at 95% CPU utilized by `omiagent`.

This is recent maybe in the last week. Any recent updates to ARM IaaS VMs in central US that may have caused this?

[2017-03-06 10:02] jonjander commented on #398
I have the same problem on a Red Hat 7 in west europe

looks like something is starting hundreds of omsagent processes.

[2017-03-07 19:21] lagalbra commented on #398
Can you please provide the printouts of process name, PID, and CPU usage you're seeing, either from the machine itself or your OMS workspace?

Is the high CPU coming from `omiagent` or `omsagent`? If it is the `omiagent`, I would recommend creating an issue in the [OMI repo](https://github.com/Microsoft/omi).

[2017-03-07 19:23] lagalbra commented on #398
Please also provide the version number of the OMSAgent installed on the machine.

[2017-03-08 00:05] lagalbra commented on #393
@dhermans First things first: are you installing the 1.2.0-148 and 1.3.1-15 bundles from our [releases page](https://github.com/Microsoft/OMS-Agent-for-Linux/releases), or are these bundles you built on your own build machine? The reason I ask is because gems like gyoku can get bundled incorrectly if the build machine is not set up properly.

Can you run these commands and provide me with the outp

[2017-03-08 18:49] webbdog28 opened #404 "Default source for syslog-ng"
The default configuration for the omsagent using syslog-ng looks like this:

[code]

However, the default syslog-ng config (syslog-ng.conf) has the source configured like this:
[code]
This means that in order to use the omsagent on machines with syslog-ng, we have to change either "s_src" to "src" or we have to change the default rules that the agent injects to use "s_src". Since "s_src" is the ou

[2017-03-09 19:44] NarineM commented on #404
This is officially not supported:  https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/docs/OMS-Agent-for-Linux.md#sysklog-is-not-supported

[2017-03-09 20:05] webbdog28 commented on #404
This is not for sysklog. That snippet is copied directly from the syslong-ng.conf file, attached.

[syslog-ng.conf.txt](https://github.com/Microsoft/OMS-Agent-for-Linux/files/832161/syslog-ng.conf.txt)

[2017-03-09 20:09] NarineM commented on #404
For syslog-ng , we are looking into it to add the support for the conf.

[2017-03-09 20:21] NarineM commented on #404
Thanks for bringing this up.

[2017-03-09 21:31] jschluchter commented on #404
@NarineM I think this could easily be added to a PR as it seems this is a bug and @webbdog28 has the exact fix stated above.

[2017-03-09 22:52] NarineM commented on #404
@jschluchter ,
Hi Joey, thanks for the referenced. @webbdog28 can certainly send a PR request on this repo if he has the fix ready. Unfortunetly, I can not see this code to provide feedback, but I am happy to review it when the PR is ready.

[2017-03-11 06:15] fjollberg opened #406 "Docker detection fails with new docker version scheme"
$ docker --version
Docker version 17.03.0-ce, build 60ccb22

Installation of OMSAgent says:

"Checking if Docker is installed...
  The installed version of Docker is not supported. Version 1.8 or greater is required. Docker agent will not be installed."

See:
https://blog.docker.com/2017/03/docker-enterprise-edition/

[2017-03-11 11:18] msternik commented on #370
Hi @lagalbra , thanks for your response and apologies for delay in replying. I managed to successfully install the agent a couple of weeks ago (after days of trying with different versions, as the documentation is not clear on what version we should be using. I have just checked the onboarding script and i think it was updated, however in the docs the download link points to the 1.2 version.

Anyw

[2017-03-11 11:21] msternik commented on #370
By the way, is this code maintained by Microsoft so that I can ask the support team for help?

[2017-03-13 16:52] lagalbra commented on #370
As for which version you should be using, we recommend the latest released version, which is the first one given on our [GitHub Releases page](https://github.com/Microsoft/OMS-Agent-for-Linux/releases) (currently 1.3.1-15). I've submitted a pull request to correct the oversight on the main [README.md](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/README.md) page.

Can you provide th

[2017-03-13 19:40] msternik commented on #370
Hi @lagalbra ,

Thanks for your reply. I have managed to fix my issue - will monitor the agents and see if they are working fine.

There were some problems with permissions both to the omsagent foler in /var/opt/microsoft/omsagent and custom logs.

As for omsagent folder I just changed the permisions from root to omsagent and worked fine.

For custom logs, I used:
ls -l <file-path-for-logs>
usermo

[2017-03-13 20:20] webbdog28 commented on #404
I don't know if I have the right skills to submit a pull request but it seems like the fix would be in the configure_syslog.sh file on lines 129-132:

[code]
I think changing "source=src" to "source=s_src" should be sufficient to work with default syslog_ng configurations.

[2017-03-13 20:41] lagalbra commented on #370
If you have custom logs configured to monitor a particular file which does not grant permissions to the omsagent user, then changing the permissions (like you did) is the temporary solution. We are currently working on a solution so you do not have to change the permissions yourself.

As for the HTTP error you provided, it looks like a temporary issue, since the last line indicates that the data w

[2017-03-13 20:41] lagalbra commented on #370
Let me know if you have any more questions; otherwise I will close this GitHub issue thread.

[2017-03-13 20:54] msternik commented on #370
Thanks @lagalbra. These errors occur every now and then - roughly every 20 mins (sometimes restarting the agent). I can see the data is sent to the dashboard, however it would be good to know why this happens.

[2017-03-13 21:39] lagalbra commented on #370
To debug this further, I would need more logs. Could you change the log_level to debug and then restart the agent and include the error and surrounding lines in a message?

1. Open `/etc/opt/microsoft/omsagent/conf/omsagent.conf` with sudo and change any `log_level` lines to `log_level trace`
2. Run `sudo /opt/microsoft/omsagent/bin/service_control restart`

[2017-03-14 20:24] keikhara commented on #406
@fjollberg

Hi Fredrik, let us get back to you on this.

regards,

Keiko

[2017-03-16 21:21] fjollberg commented on #406
I'll give it a try.

[2017-03-16 21:43] fjollberg commented on #406
Installs properly it seems, waiting for data.

[2017-03-17 00:51] dhermans commented on #393
Hi,
Thanks for responding.

Yes I am pulling the release straight from your site - I am not building from source. Following your steps the gems dir has:
 ls /opt/microsoft/omsagent/ruby/lib/ruby/gems/2.3.0/gems/
builder-3.2.2   fluentd-0.12.24       multi_json-1.12.1     power_assert-0.3.0  sigdump-0.2.4         test-unit-rr-1.0.5  tzinfo-data-1.2016.4
bundler-1.10.6  gyoku-1.3.1           oj-2.15

[2017-03-17 00:58] 1arrow commented on #315
@keikhara when are we releasing a new build?

[2017-03-17 00:59] dhermans commented on #393
ok i see there is a separate proxy option on omsadmin.sh so I used that..seems ok:

info    Generating certificate ...
info    Using proxy settings from '/etc/opt/microsoft/omsagent/proxy.conf'
info    Onboarding success

but I can't see anyhing in OMS and get errors: ( still seems to be trying to go direct?? )
2017-03-17 11:35:40 +1100 [info]: Encountered retryable exception. Will retry sending d

[2017-03-17 01:00] lagalbra commented on #393
We have [instructions](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/docs/OMS-Agent-for-Linux.md#configuring-the-agent-for-use-with-an-http-proxy-server) for onboarding with a proxy. Please follow these rather than just using omsadmin.sh.

[2017-03-17 01:04] lagalbra commented on #393
Are you still seeing errors during onboarding on your original Centos 7 machine? It seems to me that all the gem files are present and you are onboarding successfully now.

Please follow these instructions:
1. Purge the agent from the machine: `sudo sh omsagent-1.3.1-15.universal.x64.sh --purge`
2. Install the latest agent (1.3.1-15) according to the [proxy instructions](https://github.com/Microso

[2017-03-17 01:11] dhermans commented on #393
Hi,
I have a few machines - Centos7, Rhel7 using proxy ( yes am across how to use proxy ) and one not using proxy ( also Centos7 ).

The one without proxy ( with a public IP ) works fine. The proxy based ones never appear in OMS console

Pretty sure this used to work fine with 1.2x client - I had multiple clients registered for ages - is it still available for download somewhere? I will downgrade

[2017-03-17 05:26] keikhara commented on #315
@enmand The build is already released. Please go thru the OMS Linux Agent installation method.

thanks,

[2017-03-17 09:18] fjollberg commented on #406
Honestly don't quite get how all these pieces in omsagent fits together. Installation seems fine, it obviously talks to docker. However I don't see it actually doing anything.

Have tried to reconfigure to get logs to omsagent.log and see LINUX_PERF_BLOB entries but nothing about docker.

It's pulling the configuration when I try GetDscConfiguration.py and PerformRequiredConfigurationChecks.py als

[2017-03-17 18:55] lagalbra commented on #393
@KrisBash or @NarineM Could you lend your expertise on the proxy scenario?

1.2.0-148 OMSAgent is available for download [here](https://github.com/Microsoft/OMS-Agent-for-Linux/releases/tag/OMSAgent-201610-v1.2.0-148). You will have to purge any existing agent and the install it, since directly downgrading is not supported.

[2017-03-19 23:19] dhermans commented on #393
hi team,
downgrading to
omsagent-1.2.0-148.universal.x64.sh

and registering via a proxy works perfectly..am happy to help with any diagnosing of 1.3

[2017-03-19 23:32] dhermans commented on #149
any update on this feature request?
reporting back a single IP for every VM in our fleet is suboptimal!

[2017-03-20 23:10] sugr4 commented on #313
Closing this issue as this has been resolved in the latest agent release: omsagent-1.3.1-15

[2017-03-20 23:10] #313 closed

[2017-03-21 21:03] keikhara commented on #406
@fjollberg  We will be coming up with a patch version. Will keep you posted. Sorry for the wait.

[2017-03-22 20:01] webbdog28 commented on #404
Hi @NarineM, do you happen to have a timeline on when this issue will be fixed?

[2017-03-22 20:40] NarineM commented on #404
With the next release. I can message you as soon as the fix is in master branch in case you need to try it out before official release comes out.

[2017-03-22 20:40] webbdog28 commented on #404
That would be fantastic. Thanks!

[2017-03-27 23:28] dhermans commented on #149
@agup006 any response?

[2017-03-27 23:29] dhermans commented on #393
@lagalbra any news?

[2017-03-28 00:18] vrdmr commented on #149
Adding @keikhara to the thread.

[2017-03-31 16:38] jeffaco opened #426 "OMS likely doesn't restart it's service if it cores"
@lagalbra

I'm not certain if you want bug reports here or elsewhere. If elsewhere, let me know for the future.

MDSD just raised an issue against [OMI](https://github.com/Microsoft/omi) service control, both with [upstart](https://github.com/Microsoft/omi/issues/267) and [systemctl](https://github.com/Microsoft/omi/issues/268). These are two separate issues.

The OMI team has decided to address t

[2017-03-31 16:57] keikhara commented on #406
@fjollberg

please try the following patch release.
https://keiko.blob.core.windows.net/container/omsagent-1.3.2-15.universal.x64.sh

thanks,

Keiko

[2017-03-31 16:58] keikhara commented on #369
@drbolsen
Can you try this patch release?

https://keiko.blob.core.windows.net/container/omsagent-1.3.2-15.universal.x64.sh

thanks,

[2017-03-31 16:58] keikhara commented on #315
@enmand are you still having the issue? please let us know.
We also have a new patch release. thanks,

[2017-03-31 17:19] lagalbra commented on #426
@jeffaco This is a fine place to report bugs.

@sugr4 Could you let me know if you can work on this?

[2017-04-01 05:53] fjollberg commented on #406
So far, installed nicely, detects docker.

Still had problems actually getting any ContainerLog data into OMS. Eventually purged all workspaces with /opt/microsoft/omsagent/bin/omsadmin.sh -X and used omsadmin.sh to onboard again, after that the container solution started working.

[2017-04-03 20:57] yoanisgil opened #430 "Agent reports incorrect amount of Free Disk Space"
Hi,

We're considering using  OMS Agent for Linux to monitor our containers running on top of a K8s cluster and we've noticed that there is a significant discrepancy between the amount of reported free space and the actual free space. See images for below.

Also note the the percentage of used space is correct.

Maybe I'm missing something obvious, which is why I'm just posting here.

OMI Agent ve

[2017-04-03 20:59] lagalbra commented on #430
The OMSAgent uses OMI to obtain performance measurements from the machine, so I would recommend filing this as an issue on [the OMI repository here](https://github.com/Microsoft/omi/issues).

[2017-04-03 21:11] yoanisgil commented on #430
Will do. Should we keep this open?

[2017-04-03 21:17] lagalbra commented on #430
No, the OMI team will assign it back if need be.

[2017-04-03 21:32] jeffaco commented on #430
This is actually against the wrong repository. OMI is a general framework, the actual provider that is providing this data is [SCXcore](https://github.com/Microsoft/SCXcore). That's where you'd need to open an issue. I closed the issue against the OMI repository, sorry.

That said, I think this may be a misunderstanding. Your reported free space from OMS is against the `_Total` instance, which is

[2017-04-03 21:52] lagalbra commented on #430
Yes, OMS shows individual instances. It looks like the screenshot @yoanisgil included above has already been filtered with `_Total` as the `InstanceName`.

[2017-04-03 22:53] lagalbra commented on #393
I do not believe this is an issue with the OMSAgent; we have not heard from any other customers about it. Can you please troubleshoot your machine that previous saw errors with 1.3 and proxy by running these commands and providing the output?

1. sudo sh omsagent-1.3.1-15.universal.x64.sh --upgrade -p <proxy> -w <workspace id> -s <shared key>; echo $?

2. tail /var/opt/microsoft/omsagent/log/omsag

[2017-04-03 22:54] lagalbra commented on #375
We are currently making a DSC resource to replace the current custom log support to use our sudo_tail plugin instead of FluentD's in_tail plugin. This thread will be updated once that work is complete.

@sugr4

[2017-04-03 23:02] keikhara commented on #406
will close this case. We have released this now. https://github.com/Microsoft/OMS-Agent-for-Linux/releases

[2017-04-03 23:02] #406 closed

[2017-04-03 23:02] keikhara commented on #369
Folks the version has been released for this fix. Please let us know by this week and we will close it.
https://github.com/Microsoft/OMS-Agent-for-Linux/releases

[2017-04-03 23:03] lagalbra commented on #173
@shaneholloman @rjcrystal Please verify that using the [latest agent release](https://github.com/Microsoft/OMS-Agent-for-Linux/releases/latest) resolves this issue. If this error still occurs, please update this thread; otherwise, this issue will be closed.

[2017-04-03 23:04] lagalbra commented on #232
@keikhara for considering the enhancement.

[2017-04-03 23:05] lagalbra commented on #290
@DonMorrisRak Please update this thread with the requested logs and details; otherwise, this issue will be closed.

[2017-04-03 23:07] lagalbra commented on #291
@ediazrod Please update this thread if you have any more questions; otherwise, this issue will be closed.

[2017-04-03 23:09] lagalbra commented on #292
@stasku Is there an ETA on the fix for this issue?

In my opinion, requiring the Change Tracking solutions seems reasonable, and this GitHub issue thread can be closed.

[2017-04-03 23:10] lagalbra commented on #312
@arvedarved If you have any other questions, please update this thread; otherwise, this issue will be closed.

[2017-04-03 23:11] #169 closed

[2017-04-03 23:11] lagalbra commented on #337
@sammurcio  Please verify that using the [latest agent release](https://github.com/Microsoft/OMS-Agent-for-Linux/releases/latest) (x86 bundle) resolves this issue. If this error still occurs, please update this thread; otherwise, this issue will be closed.

[2017-04-03 23:11] #173 closed

[2017-04-03 23:12] yoanisgil commented on #430
That's totally correct. I'm now using this query:

`Type=Perf (CounterName="Free Megabytes") (InstanceName="/") | Measure Max(CounterValue) as FreeDiskSpace by Computer interval 30minute`

which allows me to get available space on the root partition, after which I was able to successfully create an alert rule using that query.

Sorry about the confusion.

Just wondering where I could have found th

[2017-04-03 23:12] lagalbra commented on #357
@shaneholloman @rjcrystal Please verify that using the [latest agent release](https://github.com/Microsoft/OMS-Agent-for-Linux/releases/latest) (now 1.3.2-15) resolves this issue. If this error still occurs, please update this thread; otherwise, this issue will be closed.

[2017-04-03 23:12] #430 closed

[2017-04-03 23:17] lagalbra commented on #370
@msternik We've recently released a patch for the OMSAgent. Please verify that using the [latest agent release](https://github.com/Microsoft/OMS-Agent-for-Linux/releases/latest) resolves this issue. If this error still occurs, please update this thread with the requested logs and details; otherwise, this issue will be closed.

[2017-04-03 23:19] lagalbra commented on #398
@sedouard @jonjander Please update this thread with the requested information; otherwise, this issue will be closed.

[2017-04-03 23:23] lagalbra commented on #430
Configuration of performance counters is documented [here](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/docs/OMS-Agent-for-Linux.md#configuring-linux-performance-counter-collection-from-the-oms-portal). Information is also available on Microsoft Docs [here](https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-linux-agents).

[2017-04-03 23:24] lagalbra commented on #149
@keikhara Can you speak to the possible scheduling of this enhancement?

[2017-04-03 23:56] NarineM commented on #357
@brandubh
OMSagent no longer serializes telemetry data in process_stats* tmp files starting release >= 1.2.0-148. This issue has been fixed.

[2017-04-03 23:56] #357 closed

[2017-04-04 01:05] NarineM commented on #393
@dhermans ,

Since it works for you when use the old version 148, but does not work when you use the newest version of omsagent 1.3.1.15, it is most likely because of proxy file location.
The new versions of agent (1.3.0.12 and 1.3.1.15)  use a different proxy file path. In the past it was under etc/opt/microsoft/omsagent/conf/proxy.conf, , now it is under : etc/opt/microsoft/omsagent/proxy.conf.

[2017-04-04 17:18] hosungsmsft opened #431 "rsyslog/syslog-ng detection logic issue in configure_syslog.sh on SLES 11"
On SUSE Linux Enterprise Server 11 (created on Azure), there seem to be both /etc/rsyslog.conf and /etc/syslog-ng/syslog-ng.conf, so configure_syslog.sh opts for rsyslog, but there's only syslog-ng, no rsyslog on the distro. Not sure if this is the Azure image specific, or SLES 11 in general, but it looks like the rsyslog/syslog-ng detection logic in configure_syslog.sh is not very reliable and ne

[2017-04-04 17:27] hosungsmsft commented on #431
Sorry, it might be related to our previous logic on LAD. I'll investigate this further and reactivate if necessary. Closing this for now.

[2017-04-04 17:27] #431 closed

[2017-04-04 19:18] lagalbra commented on #235
@keikhara can speak more to better Kubernetes support.

As for using Ruby 2.3.3, the [latest agent release](https://github.com/Microsoft/OMS-Agent-for-Linux/releases/latest) does include Ruby 2.3.3.

[2017-04-05 16:42] lagalbra commented on #393
A workaround that you can try has been documented in this PR https://github.com/Microsoft/OMS-Agent-for-Linux/pull/432

[2017-04-06 23:00] mw711 opened #434 "Cisco ASA Logs Not Parsing Correctly"
I'm having an issue using rsyslog and forwarding to OMS agent with the security_event.conf format. For single digit days in the time stamp there is an extra (double) space before the single digit day (5) and the pattern does not match. Example from omsagent.log

If I change the date on the cisco asa to something with a double digit date (10, 11, 12, etc) there is only a single space in between Apr

[2017-04-06 23:13] lagalbra commented on #434
I believe the regex in [security_events.conf](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/installer/conf/omsagent.d/security_events.conf) will have to be improved. This configuration is not currently included in a DSC resource, so a new one may have to be created so as to update this file.

@mgladi Please take a look. Perhaps a more tried-and-true regex for this time format can be

[2017-04-10 11:29] msternik commented on #370
Hi, with the latest release all my agents apart from one stopped working. when i try to restart them I get an error as per below.  This is very frustrating.

2017-04-10 11:26:24 +0000 [info]: reading config file path="/etc/opt/microsoft/omsagent/conf/omsagent.conf"
/opt/microsoft/omsagent/ruby/lib/ruby/gems/2.3.0/gems/fluentd-0.12.24/lib/fluent/supervisor.rb:468:in `read': No such file or director

[2017-04-10 16:48] lagalbra commented on #370
@msternik Can you check that `omsagent.conf` exists at this location: `/etc/opt/microsoft/omsagent/conf/omsagent.conf ?`

This file should exist if onboarding succeeded. To verify this, run `sudo sh /opt/microsoft/omsagent/bin/omsadmin.sh -w <workspace ID> -s <primary/shared key>` and make sure the line `Onboarding success` is included in the output.

[2017-04-10 18:40] msternik commented on #370
@lagalbra there was never a config folder (I was actually wondering why because the documentation states it should be there).
This is the output of the command:
[code]

[2017-04-10 19:02] lagalbra commented on #370
That's odd; it looks like it's configuring your workspace, then immediately removing it. You're not running that omsadmin.sh command with -x or -X, are you?

Can you try a couple things:

1. Check if an omsagent service is running:
`sudo service omsagent-<workspace ID> status`

[code]

Paste the command into the thread as well, though you can replace your workspace ID and key with ****.

If this d

[2017-04-11 09:02] msternik commented on #370
Hi @lagalbra, it turned out thats I run it with the option -x instead of -w.
If I run it with option -w, the agent is being installed successfully, however I still don't have any log or config folders. I have checked the command
 `sudo service omsagent-<workspace ID> status` and it was active even if I previously run .`/service-control stop`.
Perhaps I have a mix of different version of omsagents

[2017-04-11 09:13] msternik commented on #370
Also, as I am checking on other machines, it seems that other workspaces that were installed before the update, were somehow removed or are not picked up by the agent.

[2017-04-12 01:04] lagalbra commented on #370
Please purge and reinstall the agent on any machines that you once had configured with -x; this is the strongest way to make sure that they get installed successfully.

Yes, Ubuntu 16.04 is one of the Linux distros that we support and test on.

Can you provide the exact sequence of commands that were executed for the issue you mention where some workspaces were dropped during upgrade, as well as w

[2017-04-12 17:51] toutougabi commented on #398
we have the same issue, we had to remove the agent, it was causing cpu stalls throughout all of our nodes.

i have a case opened with part of the team in seattle, if you want i can share the details or the support #, we collected some data but ultimately, we had to remove the agent because we had too many issue.

[2017-04-12 18:32] lagalbra commented on #290
Closing issue due to inactivity

[2017-04-12 18:32] #290 closed

[2017-04-12 18:33] lagalbra commented on #291
Closing issue due to inactivity

[2017-04-12 18:33] #291 closed

[2017-04-12 18:33] lagalbra commented on #292
Closing issue due to inactivity

[2017-04-12 18:33] #292 closed

[2017-04-12 18:34] lagalbra commented on #312
Closing issue due to inactivity

[2017-04-12 18:34] #312 closed

[2017-04-12 18:35] lagalbra commented on #337
Closing issue due to inactivity

[2017-04-12 18:35] #337 closed

[2017-04-12 18:35] lagalbra commented on #369
Closing issue due to inactivity

[2017-04-12 18:35] #369 closed

[2017-04-12 18:36] lagalbra commented on #393
Closing issue due to inactivity

[2017-04-12 18:36] #393 closed

[2017-04-19 08:47] aiolfic opened #448 "Security Baseline Assessment: failed rules list never updated"
I am testing the "Security and Audit" solution using a Centos 6.3 VM. The initial list of failed rules is never updated even when the issue is resolved.

Example:
1) received a list of failed rules that includes CCE-4325-7  "SSH must be configured and managed to meet best practices. - '/etc/ssh/sshd_config Protocol = 2' ".
2) removed issue by manually fixing the Protocol entry in /etc/ssh/sshd_con

[2017-04-19 16:27] lagalbra commented on #448
@markwgit @mgladi Please take a look.

[2017-04-20 13:57] cjmather opened #451 "missing netstat command in centos 7 core install"
I don't see centos 7 core explicitly listed as supported or unsupported.  If it's not supported, then the installer should fail immediately (it doesn't).  If it is supported, then the installer should work around the missing netstat command:

...
Updating / installing...
   1:omsagent-1.3.3-15                ################################# [ 50%]
info	Reading onboarding params from: /etc/omsagen

[2017-04-20 17:19] lagalbra commented on #451
CentOS 7 is supported: https://github.com/Microsoft/OMS-Agent-for-Linux/tree/master#supported-linux-operating-systems

Why is the netstat command not available on your machine? Is it a custom build?

[2017-04-21 19:36] fperez-solidq commented on #398
I have the same problem. The connection between OMS and the Linux virtual machine works perfectly, the problem comes when I reboot the machine. When the OMS machine is restarted, it starts using the entire CPU of the machine. I have attached a graph of what happened.

![oms-problem](https://cloud.githubusercontent.com/assets/24895358/25293249/43e5826a-26da-11e7-8c94-31387f0939aa.png)

[2017-04-21 20:30] lagalbra commented on #398
Again, please specify: Is the high CPU coming from omiagent or omsagent? If it is the omiagent, I would recommend creating an issue in the OMI repo.

1. Find the PID of the omsagent: `cat /var/opt/microsoft/omsagent/run/omsagent.pid`
2. Print out the CPU usage of that process: `ps -p <PID> -o %cpu`
3. Find the PID of the omiagent: `cat /var/opt/omi/run/omiserver.pid`
4. Print out the CPU usage of

[2017-04-24 11:53] markwgit commented on #448
Hi,
I need more information for investigation.

1. Could you please run following query on OMS Portal Search for the period before and after fix, export the results and send me?
Query: "Type=SecurityBaseline CceId=CCE-4325-7 Computer=<relevant Centos 6.3 VM name>"

2. Please send me screenshot of "Security Baseline Assessment" dashboard.

3. Do you have additional machines with the same problem? D

[2017-04-24 14:29] aiolfic commented on #448
1) Here is what I did:
	1.1 changed /etc/ssh/sshd_config back to unfixed rule i.e. "# Protocol = 2"
	1.2 restarted omsagent
	1.3 changed config file to fix the rule i.e. "Protocol = 2"
	1.4 restarted omsagent
SearchResults.csv contains 3 rows: scan at 1.4, scan at 1.3, last night scan.
The txt file (moreinfo.txt) contains more info: part of omsagent.log after the last scan and the output of the pl

[2017-04-25 22:39] qgicup opened #457 "Agent on Linux Armv7l"
It is possible to use & compile the agent on Ubuntu 14.04 Armv7l?
We want to use it for iOT, where we have multiple devices in the world, which all should log informations to Cloud.

Would be great to be able to use it there!

[2017-04-25 23:00] lagalbra commented on #457
Ubuntu 14.04 LTS is supported (see our list of supported distros [here](https://github.com/Microsoft/OMS-Agent-for-Linux/tree/master#supported-linux-operating-systems)). However, I'm unsure how Ubuntu 14.04 Armv7l is different.

Feel free to try installing the agent (quick instructions [here](https://github.com/Microsoft/OMS-Agent-for-Linux/tree/master#quick-install-guide)) and let us know if any

[2017-04-26 08:57] markwgit commented on #448
Hi,

I cannot see attached files.
Please add attached files via github portal.

Please run following query on OMS Portal Search for the period before and after fix, export the results and attached .
Query: "Type=SecurityBaseline CceId=CCE-4325-7 Computer=<relevant Centos 6.3 VM name>"

Thanks
Mark

[2017-04-26 10:09] aiolfic commented on #448
Sorry, files added to my last message.
C.

[2017-04-27 05:22] mgladi commented on #434
The format in the [security_events.conf](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/installer/conf/omsagent.d/security_events.conf) file was updated to support single digit days.
Unfortunately, as we do not yet have a DSC resource for this file, existing configurations of Cisco/CEF collection will need to be manually updated

[2017-04-27 05:22] #434 closed

[2017-04-27 07:21] fperez-solidq commented on #398
Hello again, yes the problem is with the omiagent process. I can't get the CPU usage of the omiagent because I had to killed it.

I will report this issue to OMI repo.
Thank you for your reply

[2017-04-27 16:44] lagalbra commented on #398
Closing this issue; the problem will be reported to the [OMI team](https://github.com/Microsoft/omi/issues).

[2017-04-27 16:44] #398 closed

[2017-04-27 16:47] lagalbra commented on #315
Closing due to inactivity.

[2017-04-27 16:47] #315 closed

[2017-04-28 22:56] qgicup commented on #457
The agent is compiled for x86 @lagalbra It needs to be cross-compiled for armv7l. I'm trying to figure out how to prepare the toolchain for it. Anyway, it's a pity that ARMv7l builds are not ready yet, it could have been a nice scenario for IoT world.

[2017-04-29 00:18] lagalbra commented on #457
Oh, I misunderstood earlier. Yes, the OMSAgent bundle would have to go through some refactoring to support ARMv7l architecture. We will consider this as an improvement for future OMSAgent versions.

[2017-05-01 10:02] guesslin opened #462 "omsagent --install -w <workdpace id> -s <shared key> don't include container.conf by default"
I first install and onboarding omsagent by fellowing step:
[code]

but the `container.conf` does show up in `/etc/opt/microsoft/omsagent/<workspace id>/conf/omsagent.d/`.

But if I try fellowing step:
[code]

then `container.conf` file will show up in `/etc/opt/microsoft/omsagent/<workspace id>/conf/omsagent.d/`

[2017-05-01 16:14] lagalbra commented on #462
@guesslin Because of our installation process involving Docker, the second process is the current workaround for this situation.

@samisms @keikhara Can you confirm the suggested workaround for this? Is there an estimated timeline for resolving this?

[2017-05-02 07:28] riyazlafir opened #464 "Virtual Machine run out of disk space alert"
Hi ,
I'm new to OMS .  want to make Alert notification before getting  run out of disk space . I have linux virtual machine in azure .  need to monitor disk usage and and make alert if given threshold exceed using OMS .

Do I need to install agent in my linux machine ?

thanks in advanced.

[2017-05-02 17:24] lagalbra commented on #464
Yes, to allow OMS to monitor performance counters like disk space, you will need to install the OMSAgent on your Linux machine. See [here](https://github.com/Microsoft/OMS-Agent-for-Linux/tree/master#quick-install-guide) for our quick install steps, and [here](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/docs/OMS-Agent-for-Linux.md#steps-to-install-the-oms-agent-for-linux) for more

[2017-05-03 00:07] riyazlafir commented on #464
Thank you @lagalbra for your valuable reply.  followed above steps and I got this out put
`Checking host architecture ...
Checking for ctypes python module ...
Extracting...
Updating OMS agent ...
----- Checking package: omsagent (omsagent-1.3.4-15.universal.x64) -----
Skipping package since existing version >= version available
Checking for ctypes python module ...
----- Checking package: omsconf

[2017-05-03 00:30] keikhara commented on #464
Hi @riyazlafir,

Can you please confirm whether your linux agent is on-boarded to OMS workspace?
please type the following command

/opt/microsoft/omsagent/bin/omsadmin.sh -l
If you are successfully on-boarded, you will see the output Sucess.

Next, here's a doc on Alerting. Once you have on-boarded and you see data on OMS, please go to log search pane. You can pass a search query in the log searc

[2017-05-03 01:58] riyazlafir commented on #464
Hi Keiko ,
 thanks for the reply . I got this out put `Status: Onboarded(OMSAgent Running)`  when I run above commmand . and I wrote log search query `* Type=Perf (ObjectName="Logical Disk") (CounterName="% Used Space")`  but actually I need to make alert when this "% Used Space"  value exceed the 85% of disk space.

thanks.

[2017-05-03 02:14] keikhara commented on #464
For the query, you can also do the following:
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-search-reference

Go to the field faucets section.
You can do the field<=value.

You can specify disk space which is beyond 85% to notify you.

Regards,

Keiko

From: riyazlafir [mailto:notifications@github.com]
Sent: Tuesday, May 2, 2017 6:58 PM
To: Microsoft/OMS-Agent-for-Linux <OMS-A

[2017-05-03 02:37] riyazlafir commented on #464
Thank you @keikhara  and @lagalbra .

[2017-05-03 02:37] #464 closed

[2017-05-03 06:48] markwgit commented on #448
Hi,

Let scheduler online conversation.
Please contact me by markwai@microsoft.com

Thanks

[2017-05-04 07:46] markwgit commented on #448
The problem was found: On some Linux distribution the file "/etc/ssh/sshd_config" has only 600 (-rw-------) access permissions.
Fix: Change permission of "/etc/ssh/sshd_config" to 644 (-rw-r--r-- ) by following command: sudo chmod 644 /etc/ssh/sshd_config.

[2017-05-04 07:46] #448 closed

[2017-05-04 07:48] aiolfic commented on #448
Tested. It works.
Thanks.

[2017-05-04 23:21] keikhara commented on #462
@guesslin Yes there is a workaround for this. Please go here.
https://github.com/Microsoft/OMS-docker/blob/master/ReleaseNote.md

Go to the bottom of the documentation.

[2017-05-05 22:35] NarineM commented on #404
@webbdog28
@jschluchter
This issue has been fixed by the following PR: https://github.com/Microsoft/PowerShell-DSC-for-Linux/pull/261

[2017-05-09 15:22] webbdog28 commented on #404
Awesome. Thanks!

[2017-05-09 15:22] #404 closed

[2017-05-16 20:32] jeffearl opened #476 "The OMS installation script fails when /tmp is mounted noexec"
The installation script attempts to run Python script from a temporary file (created with mktemp) to validate the ctypes library. If /tmp is mounted noexec for security hardening, the installer fails with exit code 61.

[2017-05-16 20:46] lagalbra commented on #476
@jeffearl Can you provide the OMSAgent shell bundle version you are using to install? Our [latest agent release ](https://github.com/Microsoft/OMS-Agent-for-Linux/releases/tag/OMSAgent-201705-v1.3.4-127)(version 1.3.4-127) should resolve this issue.

[2017-05-17 13:16] jeffearl commented on #476
Thanks!  I'm just using the one supplied by the Azure portal when selecting the option to connect a VM to OMS. It's not the latest version-the script is "omsagent-1.3.4-15.universal.x64.sh". Looking at the code for 1.3.4-127, though, it appears to have the same issue. I'll test it shortly and let you know my findings.

[2017-05-17 14:11] jeffearl commented on #476
The latest version indeed fixes the issue.  Duhhhh--now I see the ctypes check #2.  Any Idea when -127 will be used by the Azure portal? Many thanks.

[2017-05-17 17:04] lagalbra commented on #476
@jeffearl 1.3.4-127 will be released in the Azure portal sometime this week or next. We are syncing this action with releasing the new agent version through the OmsAgentForLinux Azure VM Extension.

[2017-05-18 20:48] jeffearl commented on #476
I may have spoken too soon. The ctype library discovery has been fixed in the main installer script of 1.3.4-127. However, the issues it appears again in a later phase of the installation when configuring the OMS agent service:

Restarting service: rsyslog
Configuring OMS agent service ...
-bash: /opt/microsoft/omsconfig/Scripts/OMS_MetaConfigHelper.py: No such file or directory
info    Configured

[2017-05-18 20:56] lagalbra commented on #476
We are currently working on resolving this; I'll update this thread when a fix (apart from remounting /tmp) is available.

[2017-05-25 23:17] lagalbra commented on #476
@jeffearl Our release 1.3.5-127 should resolve this. Please install and let us know if it still fails.
https://github.com/Microsoft/OMS-Agent-for-Linux/releases/tag/OMSAgent-201705-v1.3.5-127

[2017-05-26 20:23] NarineM commented on #476
@jeffearl
This issue has been fixed in master branch and the fix has been released in version# 1.3.5-127. Closing as resolved.

[2017-05-26 20:23] #476 closed

[2017-05-31 15:09] jeffearl commented on #476
Thanks all. I've confirmed that release 1.3.5-127 indeed fixes the issue.

[2017-05-31 17:11] lagalbra commented on #476
Thank you for raising this issue to our attention. I'm glad to verify that the solution fixed your issue!

[2017-06-01 17:25] lagalbra commented on #451
Spoke offline with Cliff; this machine is a CentOS7 core machine, which we do not support. I'm closing this issue with that in mind.

[2017-06-01 17:33] NarineM commented on #451
The installer should be fixed to handle Core failure better. It unnecessary creates the files and directories that come with the installer. Then to clean up one needs to run the shell with --remove.

[2017-06-01 22:34] lagalbra commented on #375
@brandubh Our sudo_tail plugin is now used in our CustomLog collection; you can verify this by reading the contents of this file: /etc/opt/microsoft/omsagent/<workspace-ID>/conf/omsagent.d/customlog.conf and checking that the line `type sudo_tail` is present.

[2017-06-01 22:34] #375 closed

[2017-06-07 17:32] lagalbra commented on #370
@msternik Do you have any update on this issue? Please keep in mind that multi-homing is not fully released yet, so data is not guaranteed to send successfully to more than one workspace configured on the machine.

[2017-06-13 00:45] kevinlisota opened #495 "Docker container log stops collecting"
I have two VM's and 4 docker containers being monitored by OMS.

When I start a container, it sends containerlog data to OMS for about a day and then randomly stops sending it.

The containers are still running fine and the VM hosts continue to report their stats to OMS.

How can I troubleshoot/fix this issue?

[2017-06-13 00:47] lagalbra commented on #495
Please open this issue on the OMS Docker GitHub page: https://github.com/Microsoft/OMS-docker/issues

[2017-06-13 00:47] #495 closed

[2017-06-15 03:39] guesslin opened #498 "omiagent keep consuming high memory"
<img width="1050" alt="screen shot 2017-06-15 at 11 24 27 am" src="https://user-images.githubusercontent.com/69355/27164124-500770b2-51be-11e7-91a4-059dc1f58fe1.png">

OMS Agent version: omsagent-1.3.3-15.universal.x64
OS: 4.4.0-28-generic
Cloud Env: Azure ACS

We setup the omsagent by running `sudo ./omsagent-1.3.3-15.universal.x64.sh --install -w <WorkspaceID> -s <Shared Key>` 29 days ago. But s

[2017-06-19 18:55] lagalbra commented on #498
@guesslin
To debug the problem, run these steps:
1. Turn on logging in omi by editing /etc/opt/omi/config/omiserver.conf and set LOGLEVEL=DEBUG
2. Restart OMI service: `sudo /opt/omi/bin/service_control restart`
3. Send relevant information from the log files in /var/opt/omi/logs. There is one for each agent, and one for the server.
4. Also send errors from /var/opt/microsoft/scx/log/omsagent/scx.

[2017-06-25 17:35] SenthuranSivananthan opened #503 "Upgrade extension to use GA version of the agent"
The extension installs public preview bits (1.1.0-217).  Can the extension be upgraded to deploy one of the recent GA releases?

[2017-06-26 16:05] lagalbra commented on #503
@SenthuranSivananthan Please use [our Docs.Microsoft.com page](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/extensions-oms) as a guide to installing the OmsAgentForLinux Azure VM Extension. This is the latest documentation, which states that the latest version of the extension is 1.3. This will install OMSAgent package version 1.3.5-127.

The Azure VM Extension documentation in th

[2017-06-26 16:15] #503 closed

[2017-06-26 16:32] SenthuranSivananthan commented on #503
Thanks @lagalbra for the quick turnaround.  Switching TypeHandlerVersion to 1.3 did the trick.

On docs.microsoft.com, should the instruction for CLI refer to 1.3 instead of 1.0?
  Please see:  https://docs.microsoft.com/en-us/azure/virtual-machines/linux/extensions-oms#azure-cli-deployment

[2017-06-26 16:44] lagalbra commented on #503
Yes, that version should be 1.3; that documentation will be updated. Thank you for pointing that out!

[2017-06-30 17:48] silverl opened #511 "CentOS 7 - dozens of processes in Update management enabled solution"
CentOS Linux release 7.3.1611
omsagent-1.3.5-127.universal.x64

After some time, perhaps a day, load is high and I have 146 processes in the process table with "omsagent" in their string.
[code]

Many of the processes look like this:
[code]

I restart the service, and they're back the next day, choking the server.

Any ideas?

[2017-06-30 17:49] silverl commented on #511
[code]

[2017-07-03 19:00] lagalbra commented on #511
@silverl We are aware of this issue, and are working on a fix.
@Atchub @NarineM Can you give an ETA for the fix for this?

[2017-07-03 20:56] lagalbra commented on #370
Closing due to inactivity

[2017-07-03 20:56] #370 closed

[2017-07-03 21:51] silverl commented on #511
Even if there's a temporary workaround, please let me know. Thanks.

[2017-07-10 14:35] silverl commented on #511
Checking back after a week. Is there any suggested workaround? Should I just set up a cron job to kill these processes and restart omsagent?

[2017-07-10 14:40] silverl commented on #511
After a little more investigation, I can see that the proliferation of jobs is being caused by a cron.d script. Here's the process tree.

[code]

There's a script `/etc/cron.d/OMSConsistencyInvoker` that contains:
[code]
OMSConsistencyInvoker appears to be a binary executable, so I cannot see why it might be failing to exit properly.

[2017-07-10 15:00] silverl commented on #511
Your cron job runs OMSConsistencyInvoker every 5 minutes of every day. I wanted to know how long it usually runs for.

I sudo'd to the omsagent user and ran OMSConsistencyInvoker using time:
[code]
I thought I might rewrite the cron job using the `timeout` command to force-kill the process after a certain amount of time, after which its work would surely be done.

It ran for longer than 8 minutes,

[2017-07-10 15:14] silverl commented on #511
For anyone else having this issue, here's my modified `/etc/cron.d/OMSConsistencyInvoker` file:
[code]

[2017-07-10 18:05] NarineM commented on #511
@silverl
Can you confirm you have update management solution enabled?

[2017-07-10 18:10] silverl commented on #511
@NarineM Confirmed, we are running the update management solution.

[2017-07-10 18:13] NarineM commented on #511
@silverl
Thanks, in that case this is a known bug and the fix is in code review right now. The fix would not require you to update omsagent version that you are currently running in your environment . Once the fix is alive, I will let you know.

[2017-07-10 18:54] silverl commented on #511
Thank you.

[2017-07-18 00:39] NarineM commented on #451
This issue has been addressed in https://github.com/Microsoft/OMS-Agent-for-Linux/pull/520

[2017-07-18 00:40] NarineM commented on #451
The fix will be available in next omsagent release.

[2017-07-18 00:40] #451 closed

[2017-07-25 07:56] roamin9 commented on #511
@silverl hi, we encountered the same problem. How about your:
[code]

After restart the omid service, OMSConsistencyInvoker works as normal

[code]

[2017-08-02 13:43] tony-rothenbacher commented on #511
I'm also facing this same issue with these OMSConsistenceyInvoker processes stacking up and bringing the server to a crawl.

We're running omsagent version 1.3.5-127 x86-64 on CentOS Linux release 7.3.1611.

[maskedUser@maskedHost~]$ rpm -qa | grep oms
omsagent-1.3.5-127.x86_64

[maskedUser@maskedHost~]$ cat /etc/redhat-release
CentOS Linux release 7.3.1611 (Core)

[maskedUser@maskedHost~]$ ps -ef

[2017-08-02 16:56] lagalbra commented on #511
@tony-rothenbacher This issue has been fixed with our latest OMSAgent release, available for download here: https://github.com/Microsoft/OMS-Agent-for-Linux/releases/tag/OMSAgent_GA_v1.4.0-45

Please let us know if removing the old version and re-installing version 1.4.0-45 does not work to resolve the issue.

[2017-08-02 16:56] #511 closed

[2017-08-04 07:50] johanburati opened #536 "High CPU usage by omiserver"
Hi,

We had a problem with a VM where the cx notice high CPU usage by the omiserver process,
the cx remediate the situation by rebooting his VM.

Looking at the omiserver.log below there a lot of error message at that exact time related to getpwnam,
can you tell me what is the cause of the error, what is the impact and  if there is anything that can be done to prevent it from occurring again ?

Al

[2017-08-04 09:14] hensing commented on #315
Ran into this problem on azure (centos), too:
omsagent: 1.3.5
centos-release-7-3.1611.el7.centos.x86_64

[2017-08-04 16:15] lagalbra commented on #536
Can you please send all logs from `/var/opt/omi/log/`? There will be one for each agent using omiserver, and one for the server.
Send also this log: `/var/opt/microsoft/scx/log/omsagent/scx.log`
The cause of the error is unknown without these logs. Many providers utilize the omiserver.
Do you have Docker on this particular VM?

[2017-08-04 16:18] lagalbra commented on #315
@hensing Those segfaults appear to be coming from the OMS Docker provider. Please open an issue with those messages on the [OMS Docker repo](https://github.com/Microsoft/OMS-docker/issues).

[2017-08-04 16:44] samisms commented on #315
@hensing This issue has been fixed already. Please use latest omsagent .

[2017-08-07 01:00] johanburati commented on #536
Hi @lagalbra, in the /var/opt/omi/log/ there is only two files, [omiserver.log](https://gist.githubusercontent.com/johanburati/d23a99f8b7bc9938b1ba81d008a6cfcf/raw/f218aa20c348b7357c56dce5d760cd3b93bf54eb/omiserver.log) and the other one `omiagent.root.root.log` is empty.

As for the [scx.log](https://gist.githubusercontent.com/johanburati/6cebcd22568ef37c54c1920d561450ea/raw/76acf4ecd49fb9272d114

[2017-08-07 18:04] lagalbra commented on #536
Given that the Docker provider is not present, I suspect a DSC provider may be at fault. Please [file this issue on the DSC repo](https://github.com/Microsoft/PowerShell-DSC-for-Linux/issues); include the logs that you linked here and any OMS solutions you are using.
On the DSC repo issue you open, it may be worth noting that there are [many instances of code in DSC calling getpwnam](https://githu

[2017-08-07 18:04] #536 closed

[2017-08-09 09:25] primegonzola opened #543 "Memory growing if OMSConsistencyInvoker cron job is stuck"
Hi,

At times we see the cron job being stuck executing runs  /bin/sh -c /opt/omi/bin/OMSConsistencyInvoker >/dev/null 2>&1

The process never dies and starts piling up. Is this a known issue? How can we debug why the cron job is hanging?

The workaround is doing a service omid restart but we would like to know more what could be causing this and if this is a known issue.

Thanks

[2017-08-09 14:11] silverl commented on #511
This issue needs to be re-opened. I am running omsagent-1.4.0-45.x86_64 and the issue is still occurring.

[2017-08-09 18:56] NarineM commented on #511
@Atchub , @amitsara
Please take a look. This must be some other use case where ConsistencyInvoker spins up proc numbers which was not fixed by 1.4.0-45 build. Adding omsconfig contact to count this incident as well to consider changing ConsistencyInvoker for long running operations.

@silverl . Thank you for reporting this issue. Can you create a issue on https://github.com/Microsoft/PowerShell-DS

[2017-08-09 20:46] lagalbra commented on #543
See issue https://github.com/Microsoft/OMS-Agent-for-Linux/issues/511

[2017-08-09 20:46] #543 closed

[2017-08-09 23:13] silverl commented on #511
Confirming that we're definitely still seeing this behavior.

Opened https://github.com/Microsoft/PowerShell-DSC-for-Linux/issues/304

[2017-08-14 16:52] BerheAbrha opened #549 "OMS agent is removing existing DSC providers from /opt/omi/lib during omi upgrade."
Existing DSC installed from (https://github.com/Microsoft/PowerShell-DSC-for-Linux/releases/tag/v1.1.1-70)  stopped working after installing latest OMS extension .
** NOTE **  This does not happen if the upgrade is from later version of DSC.

Steps to repro:-
 1.  Deploy Azure VM using a template.
  2.  Install DSC from feb release
 * Starting Open Group OMI Server:

[2017-08-14 17:10] lagalbra commented on #549
Email thread is still ongoing for this issue.

[2017-08-16 20:41] sbadakhc commented on #498
Hi, we are seeing this with the latest version. Attempting to stop the agent results in a restart when I try use service_control and systemctl. Is there a way I can prevent the agent from restarting?

[2017-08-16 20:45] lagalbra commented on #498
If you are trying to stop the `omiagent`, direct your questions about service control behavior to the [OMI repo](https://github.com/Microsoft/omi). If you are trying to stop the `omsagent` service running, the easiest way is to use `sudo sh /opt/microsoft/omsagent/bin/service_control disable`

[2017-08-16 20:48] sbadakhc commented on #498
Thanks.

[2017-08-16 20:49] darinhoward opened #553 "How to exclude this agent from new azure virtual machines"
How do I setup a Linux VM (Ubuntu) without having this agent installed?

[2017-08-16 20:55] lagalbra commented on #553
There are several ways that our agent can get installed on a new Azure VM.
1. Through Azure Security Center: Disable Azure Security Center data collection for the subscription in which you will create new VMs: see "How do I disable data collection?" on this page: https://docs.microsoft.com/en-us/azure/security-center/security-center-faq
2. Manually; but by your question, I'm assuming you did not c

[2017-08-17 08:45] koksan83 opened #555 "OMS Agent pushes custom log entries from random positions after restart"
Issue description:

OMS Agent appears to start pushing custom logs from the top or random positions after VM restart or OMS Agent restart.
Issue is made worse when timestamps in log files are in local time and we are forced to use newline as the delimiter instead.

Steps to reproduce the issue:
1. Configure a custom log using newline as delimiter
2. Wait for log entries to appear in OMS Portal
3.

[2017-08-17 17:52] lagalbra commented on #555
@koksan83 How frequently does the log you are trying to follow using Custom Logs get new lines pushed to it?

[2017-08-17 23:56] niltonvasques commented on #536
Same problem here:

![image](https://user-images.githubusercontent.com/2291529/29438485-74518434-838d-11e7-94fa-7a96de4975dd.png)

[2017-08-18 00:23] lagalbra commented on #555
Merely restarting the omsagent should not cause old lines to be send to our backend. Can you turn on debug logging for the in <match oms.blob.**> section of the /etc/opt/microsoft/omsagent/<workspace id>/conf/omsagent.conf file and restart the omsagent to reproduce this? If so, send the output after the restart in /var/opt/microsoft/omsagent/<workspace id>/log/omsagent.log. You will see data being

[2017-08-21 06:37] koksan83 commented on #555
@lagalbra Output from omsagent.log:
2017-08-21 06:18:38 +0000 [info]: listening syslog socket on 127.0.0.1:25224 with udp
2017-08-21 06:18:38 +0000 [info]: Following tail of /***/***.log
2017-08-21 06:19:19 +0000 [debug]: Success getting the BLOB information in 0.033s
2017-08-21 06:19:19 +0000 [debug]: Success sending 2384443 bytes of data to BLOB 0.181s
2017-08-21 06:20:39 +0000 [debug]: Success

[2017-08-21 16:46] lagalbra commented on #555
How many lines were appended to the log file around 2017-08-21 06:20:39?

Please note: the Custom Log collection is in Public Preview and is still being worked on.

[2017-08-22 02:46] koksan83 commented on #555
Based on the size, we're looking at 1-2 lines. Not sure if its helpful but we're talking about nginx access logs here.

No worries I understand Custom Log is still in Public Preview. Its just unfortunate for us because Log Analytics + Custom Logs and the surrounding functionality is exactly what we're looking for right now.

[2017-08-23 07:26] enikylu opened #557 "OMS Linux Agent getting a incompactibility with zabbix api 3.2.x."
Can someone help to resolve this issue? thanks a lot
2017-08-17 21:57:04 +0800 [info]: ZabbixLib RuntimeError: Zabbix API version: 3.2.1 is not support by this version of zabbixapi

2017-08-17 21:58:04 +0800 [info]: ZabbixLib RuntimeError: Unable to connect to Zabbix Server the given time interval error:

2017-08-17 21:58:04 +0800 [info]: ZabbixLib RuntimeError: Zabbix API version: 3.2.1 is not su

[2017-08-23 16:17] lagalbra commented on #557
@enikylu The error you're seeing is thrown from [here](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/source/code/plugins/zabbixapi.rb#L26). The Zabbix support in OMSAgent is currently only for Zabbix API versions 2.x.x.

We do have an item on our backlog to add testing and support for Zabbix API version 3.x.x.

[2017-08-24 15:02] mikemowgli opened #558 "Fluent timeout error through proxy"
OMS agent (version 1.4.0-45) is installed on Ubuntu 17.04.
The installation and onboarding succeeded. But OMS agent cannot communicate with OMS portal.

Please find enclosed the logs of

- [omsagent installation and onborading](https://github.com/Microsoft/OMS-Agent-for-Linux/files/1249315/omsagent-install.txt)
- [omsagent.log (with the timeout error)](https://github.com/Microsoft/OMS-Agent-for-Li

[2017-08-24 16:36] LBegnaud commented on #511
What are the implications of adding the timeout for the OMSConsistencyInvoker cron job?

[2017-08-24 16:44] silverl commented on #511
If the job got its work done and is simply having trouble exiting, it kills the process.

If the job didn't get its work done, then the implication is that whatever it was intended to do doesn't get done.

[2017-08-24 16:46] LBegnaud commented on #511
Do we know the role of the OMSConsistencyInvoker binary?

[2017-08-24 17:01] NarineM commented on #558
Can you check your proxy and see if outbound destination going to Azure OMS is blocked by your proxy?

[2017-08-24 17:04] NarineM commented on #558
Please see this section for proxy setup: https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-agent-linux#Troubleshooting

[2017-08-24 17:10] NarineM commented on #553
@darinhoward
Please see Azure Security latest migration related article: https://docs.microsoft.com/en-us/azure/security-center/security-center-platform-migration

There is a link to support team you can forward your question. This repro is not monitored by ASC team.

[2017-08-24 17:17] #553 closed

[2017-08-24 17:20] NarineM commented on #498
@guesslin
Can you provide some details about which solutions are enabled in your workspace? Similar issue was fixed in latest version of omsagent 1.4.0-45, you can try upgrading your agent to that version and see if you still see high CPU or not? If you still see this issue occurring in latest build for your environemnent, please attach omsconfig.log, omsagent.log.

[2017-08-24 18:02] lagalbra commented on #558
Please also make sure you copy the proxy configuration as referenced [here](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/docs/OMS-Agent-for-Linux.md#configuring-the-agent-for-use-with-an-http-proxy-server):
[code]

[2017-08-24 18:04] lagalbra commented on #511
The role of the OMSConsistencyInvoker binary is to check that the configuration for the OMSAgent on the machine matches that set by the server. This check is made every 5 minutes.

[2017-08-24 18:56] LBegnaud commented on #511
Thanks for the clarification. Seems like it should be fine to kill it if it doesn't exit on its own quickly

[2017-08-25 05:54] Indhukrishna commented on #549
Opened an issue on https://github.com/Microsoft/PowerShell-DSC-for-Linux/issues/312

[2017-08-25 08:30] mikemowgli commented on #558
@lagalbra thank you, the issue was the permissions on the proxy.conf file.
This is solved.

[2017-08-25 08:30] #558 closed

[2017-08-25 08:52] mikemowgli opened #560 "No apache nor docker logs"
Hi there,
I installed omsagent on Ubuntu 17.04.
The agent is properly installed and onboarded (through proxy). It sends perf & syslog properly to OMS.
However, I cannot see any docker nor apache logs in OMS.
Apache and Docker were installed before omsagent installation.
omsagent installation noticed apache & docker presence. omsagent installation log enclosed here:
[omsagent-install.txt](https://g

[2017-08-25 12:45] kulttuuri opened #561 "Support Ubuntu 17"
Hi,

Is it on the pipeline to add support for Ubuntu version 17? Ubuntu 17 has been released quite a long time ago, so this would be ideal to have working.

[2017-08-25 17:02] lagalbra commented on #561
There are several distros which we do not currently support, but they are on our backlog to test and ensure support for, including Ubuntu 17.

[2017-08-25 17:04] lagalbra commented on #560
The OMSAgent is not yet supported on Ubuntu 17. See our list of supported distros [here](https://github.com/Microsoft/OMS-Agent-for-Linux/tree/master#supported-linux-operating-systems).

[2017-08-25 17:05] #549 closed

[2017-08-27 16:02] kulttuuri commented on #561
Thank you for the information @lagalbra ! :)

[2017-08-28 09:37] mikemowgli commented on #560
@lagalbra ,
about Apache: seems like restarting the host fixed the issue
about Docker, I installed omsagent on a ubuntu 16.04 host and am now able to monitor containers. So the docker issue was indeed related to OS support.
thank you
Closing issue.

[2017-08-28 09:37] #560 closed

[2017-08-29 16:20] aw230012 opened #565 "Deployment resulted in error, "malformed status file""
We are trying to install the Microsoft.EnterpriseCloud.Monitoring OmsAgentForLinux onto a Standard_DS13_v2 RedHat 7.2 image and we received the error "malformed status file."

I could not find any information in the troubleshooting guide for this error.  Does anyone know how we can fix this?

Thanks!

[2017-08-29 17:36] lagalbra commented on #565
The troubleshooting guide for the OmsAgentForLinux extension is here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/extensions-oms

In this case, you can see an exact error message by looking at the extension installation output in the file `/var/log/azure/Microsoft.EnterpriseCloud.Monitoring.OmsAgentForLinux/1.4.45.2/extension.log` This output should include an error code that you

[2017-09-01 05:44] johanburati opened #566 "omsagent user was removed from group after upgrade"
The LinuxDiagnostic extension was upgraded from 3.0.107 to 3.0.109 and in the process  the omsagent  account was removed from the "syslog" group preventing the LinuxDiagnostic extension to access local log files.

Would it be possible to add code to retain group membership of the accounts through upgrades or else
allow for a script to be called after any update occurs, so the users have a way to r

[2017-09-01 17:11] lagalbra commented on #566
Our team will consider this design change and update this issue when a decision has been made.

[2017-09-01 17:17] NarineM commented on #566
@johanburati
Thanks for reporting this bug. Yes, the upgrade routine should keep the properties as they are set by the user before upgrade and not overwrite them by install's defaults once the upgrade is performed.

[2017-09-06 13:50] silverl commented on #511
@NarineM - No action has been taken in the https://github.com/Microsoft/PowerShell-DSC-for-Linux repo.

After a yum update last night, my cron job fix was replaced with the default and my servers killed themselves within a couple of hours.

[2017-09-06 16:53] lagalbra commented on #511
The DSC team has been notified of the issue, and investigations into it are still open.

[2017-09-06 23:15] keikhara commented on #235
@edevil kubernetes support is there as of 2weeks ago. We are capturing k8s events.

[2017-09-06 23:15] #235 closed

[2017-09-06 23:16] keikhara commented on #164
@daninthewoods we have started passing kubernetes pod labels in OMS. Do you still need Container Labels?

[2017-09-06 23:19] keikhara commented on #462
@guesslin we will be fixing this soon. We will keep you noted.

[2017-09-07 09:06] edevil commented on #235
@keikhara Which tag should I be using of these? https://hub.docker.com/r/microsoft/oms/tags/

Is there any additional configuration that I have to provide to the agent?

Thanks!

[2017-09-07 17:27] mbanks850 opened #570 "python <defunct> process building up"
I am running omsagent 1.4.0-45 and I am noticing a build up of python <defunct> process.

Z    47193 21645 python \<defunct>
Z    47193 21648 python \<defunct>
Z    47193 21651 python \<defunct>
Z    47193 21654 python \<defunct>
Z    47193 21660 python \<defunct>
Z    47193 21680 python \<defunct>

[root@localhost ~]# ps aux | grep 47193
omsagent 47193  4.4  0.1 688316 25816 ?        Sl   08:52

[2017-09-07 18:03] lagalbra commented on #570
@mbanks850 Please file this issue in the DSC repo: https://github.com/Microsoft/PowerShell-DSC-for-Linux/issues

When you file the issue, please list what solutions are enabled on the workspace that this OMSAgent is sending data to.

[2017-09-07 18:03] #570 closed

[2017-09-11 11:01] vascofolgado opened #572 "OMS agent incompatible with openssl in Ubuntu 16.04 LTS after upgrade openSSL to 1.1"
Done this:

apt update
apt upgrade

After a reboot the oms agent stop working.
Try to install the new version but no success (openssl upgraded to 1.1.0f):

root@XXXXXXXXXX:/tmp/oms# sh omsagent-1.4.1-45.universal.x64.sh --install -w xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx -s xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Checking host architecture ...
Extrac

[2017-09-12 06:45] alcohol commented on #511
So.. I guess this isn't really supposed to happen 🤔

[code]

[2017-09-12 17:47] NarineM commented on #511
The fix is targeted to be available in the next release of omsagent. Stay tuned.

[2017-09-13 23:31] NarineM commented on #572
@vascofolgado
This is a known limitation and supporting open SSL is targeted to be available in October release of omsagent.

[2017-09-18 10:48] marcofl commented on #511
How will that update for "next release" be installed on an existing server?

[2017-09-18 22:49] lagalbra commented on #511
If the OMSAgent has been installed on that server through the OmsAgentForLinux Azure VM extension, it will automatically be updated to the next release.

However, if you have manually installed the OMSAgent through [our Quick Install script](https://github.com/Microsoft/OMS-Agent-for-Linux/tree/master#quick-install-guide) or other script, then you will have to download the next version from [our r

[2017-09-21 12:37] sylr commented on #498
![omsagent-ram](https://user-images.githubusercontent.com/153052/30695954-4b705a82-9eda-11e7-9406-3591fc424fe5.PNG)

I have the same issue with 1.4.1.45 :

[code]

This is very unpleasant.

[2017-09-21 16:27] lagalbra commented on #498
As Narine previously stated, if you are seeing this issue, please provide these logs:

- /var/opt/microsoft/omsagent/log/omsagent.log
- /var/opt/microsoft/omsconfig/omsconfig.log
- All files under /var/opt/omi/log/

[2017-09-27 08:04] marcofl commented on #511
thank you @lagalbra

[2017-09-29 15:12] kevi5702 opened #579 "Issues with Docker Redploys"
Really hoping someone can point me in the right direction here, every time we redeploy our docker instances our SCX logs at (/var/opt/microsoft/scx/log/scx.log) beging to fill very rapidly with the following messages:

2017-09-29T15:02:39,523Z Error      [scx.core.common.pal.system.disk.statisticallogicaldiskinstance:############] statvfs() failed for /var/lib/docker/overlay/######################

[2017-09-29 15:18] lagalbra commented on #579
I have raised this issue on the OMS-Docker repo; they own Docker issues: https://github.com/Microsoft/OMS-docker/issues/76

[2017-09-29 15:18] #579 closed

[2017-10-02 14:57] nphmuller commented on #498
Also having this issue. The process used about 350MB, which made the kernel kill our elasticsearch process.
Would love to provide logs, but is there any place where I can privately send them, because of confidential data? Thanks.

[2017-10-02 16:52] lagalbra commented on #498
If you don't wish to share your logs in this forum, please email them to omslinuxteam@microsoft.com and reference this GitHub issue.

[2017-10-03 11:02] edevil opened #585 "Segfaults of omiagent when running on Kubernetes/CoreOS"
[code]

Container version: "microsoft/oms:1.4.1-45"
OS: Container Linux by CoreOS stable (1465.8.0)

I can e-mail the core files but I'm not inclined to share them publicly.

[2017-10-03 17:12] lagalbra commented on #585
Please follow the issue on the OMS Docker repo: https://github.com/Microsoft/OMS-docker/issues/78

[2017-10-03 17:12] #585 closed

[2017-10-05 09:22] m-ghaoui commented on #536
Turns out that omiserver has been running the cpu of our virtual Linux machine for several weeks now!

![image](https://user-images.githubusercontent.com/481297/31220014-688c2a20-a9bf-11e7-8b95-bc554b06ef86.png)

We're not happy about this because it's incurring unnecessary costs!

[2017-10-05 09:31] m-ghaoui commented on #536
This is not funny, Microsoft!

![image](https://user-images.githubusercontent.com/481297/31220449-c66978d6-a9c0-11e7-9f20-c535dca02a20.png)

[2017-10-05 17:22] lagalbra commented on #536
@m-ghaoui Please use the issue in the DSC repo: https://github.com/Microsoft/PowerShell-DSC-for-Linux/issues/301

[2017-10-06 09:52] DeV1L commented on #498
Have the same problem on all Linux servers where I installed the agent.
[code]
![Memory](https://i.stack.imgur.com/GD0vc.jpg)

I've sent the logs to omslinuxteam@microsoft.com

[2017-10-06 10:21] DeV1L commented on #498
Your message to omslinuxteam@microsoft.com couldn't be delivered.
--
The group omslinuxteam   only accepts messages from people in its organization or on its allowed   senders list, and your email address isn't on the list.

[2017-10-06 17:03] lagalbra commented on #498
Interesting, I was not aware of that shortcoming. I've corrected my comment, and suggest you send the logs to lagalbra@microsoft.com, narinem@microsoft.com, and keikhara@microsoft.com.

[2017-10-13 07:22] thiezn opened #588 "DSC service unable to connect through proxy when proxy.conf entry contains newline"
When adding a proxy entry ending with a newline character to /etc/opt/microsoft/omsagent/conf/proxy.conf the DSC engine fails to connect to the reporting servers:

[code]

When the proxy entry doesn't contain a newline the engine successfully connects:

[code]

I suspect the function parse_proxy_config(proxy_conf_str) in /OMS-Agent-for-Linux/source/code/plugins/oms_configuration.rb is not taking t

[2017-10-13 18:28] lagalbra commented on #588
This issue should be handled by the DSC team. As such, I have re-opened this issue on their repo: https://github.com/Microsoft/PowerShell-DSC-for-Linux/issues/334

[2017-10-13 18:28] #588 closed

[2017-10-18 12:49] ryannix123 commented on #572
Any word on when this fix will be released?

----- Checking package: omsagent (omsagent-1.4.1-45.universal.x64) -----
Error: This system does not have a supported version of OpenSSL installed.
This system's OpenSSL version: 1.1.0f
Supported versions: 0.9.8*, 1.0.*
Shell bundle exiting with code 60

[2017-10-19 15:21] AaronFriel commented on #498
I would really like to see some major changes to the Linux OMI agent that installs by default on Azure. I've taken to disabling the agent service entirely because on my server with multiple containers, a webserver, an entire Gitlab omnibus, and so on, this is what is using the most CPU time:

![image](https://user-images.githubusercontent.com/788800/31778795-25f08974-b4b7-11e7-853d-00742e954814.pn

[2017-10-23 19:14] brazabr commented on #572
I could use the information also. I have a bunch of VMs that I cannot monitor anymore.

[2017-10-24 18:00] lavmeiker commented on #572
We're also after this. Any updates?

[2017-10-25 09:21] MWals opened #597 "Cant install gpg on vm - using oms agent without gpg possible???"
Dear Oms team!

We want to apply the oms agent to gentoo linux machines on intel atom systems without gpg or any dependencies installed or even possible to install at scale.

Are there some ways to use the oms agent on this kind of systems?

Here are some specs:

PROCESSOR | Atom E3845
CPU | Quad core
Clock speed | 1.91 GHz
RAM | 4 GB DDR3 *
FLASH MEMORY | 8 GB eMMC **
MICRO SDHC | 16 GB
GPU | Int

[2017-10-25 09:26] #597 closed

[2017-10-27 15:57] edevil commented on #235
ping @keikhara

is there some documentation about what the agent is actually capturing? I don't see this additional information on the OMS portal. On another note, how does the OMS agent know it is running on a Kubernetes cluster? Does it assume from the computer name? https://github.com/Microsoft/Docker-Provider/blob/c79a123b4f579176bc7ff000a2a69752a49e4679/source/code/providers/Container_HostInv

[2017-10-27 16:04] keikhara commented on #235
+Sambit and Joby

From: André Cruz [mailto:notifications@github.com]
Sent: Friday, October 27, 2017 8:58 AM
To: Microsoft/OMS-Agent-for-Linux <OMS-Agent-for-Linux@noreply.github.com>
Cc: Keiko Harada <keikhara@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/OMS-Agent-for-Linux] Better Kubernetes support (#235)

ping @keikhara<https://na01.safelinks.protection.outlook.c

[2017-11-02 17:54] helderpinto opened #600 "Upgrade from 1.4.1-45 to 1.4.1-123 broke OMS agent in Oracle Linux 6.8"
The OMS agent was initially installed on an Oracle Linux 6.8 Azure VM as an extension with auto-upgrade enabled. On October 27th, the agent died after upgrading to 1.4.1-123. The extension logs show the extension is successfully enabled on startup but the OMS agent process was not running. See the error in the extension logs extract below.

After investigating, I noticed /etc/opt/microsoft/omsagen

[2017-11-06 08:25] deepushri opened #602 "Unable to see Linux VM connected to OMS"
Hi,
I have followed the steps as per the GitHub documentation. I could see that the shell bundle returned a code 0 ( which means that agent installation was a success). But when I log into the OMS portal to check the connected devices, I see the number of connected devices as 0.
Is there a time that I have to wait to see my device connected in the OMS portal?? If so , how much time is expected??
I

[2017-11-06 16:47] rocketraman commented on #498
Also had this problem today:

[code]

[2017-11-09 21:05] temores opened #606 "Log collector tool link is broken"
On Line 33

Link reference to
https://github.com/Microsoft/OMS-Agent-for-Linux/blob/master/tools/LogCollector/OMS_Linux_Agent_and_Container_Log_Collector.docx
gives 404

[2017-11-13 08:24] edevil commented on #235
Anyone?

[2017-11-16 02:08] jpoon commented on #235
I haven't tried this myself, but I noticed there's a helm chart to install the OMS daemonset (https://kubeapps.com/charts/stable/msoms). @edevil, did you already try this? You can see from the [volume mounts](https://github.com/kubernetes/charts/blob/master/stable/msoms/templates/omsagent-daemonset.yaml#L52) that it's grabbing data from the docker socket and `/var/log`.

[2017-11-16 03:19] HDYA opened #608 "[Feature Request] Process list"
Was is possible for OMS Agent to ship VM process list regularly?

[2017-11-16 09:14] edevil commented on #235
I haven’t tried the helm chart, but the daemonset already mounts those dirs.

[2017-11-20 03:22] VexedSyd commented on #572
any update on this?
it is almost the end of November, I'm trying to install Microsoft.Azure.Diagnostics.LinuxDiagnostic v3.0.109 and I'm getting the same error:

Failed to set up mdsd dependencies: omsagent setup failed 5 times. Last exit code=1, Output=setup_omsagent_for_lad(): omsagent universal installer shell execution failed. Output: Checking host architecture ... Extracting... Updating OMS a

[2017-11-20 03:25] NarineM commented on #572
Yes, Debian 9 and ssl 1.1 are not yet supported. I will add the link to installer in this thread as soon as it is released.

[2017-11-20 03:28] VexedSyd commented on #572
@NarineM Thanks for your prompt response. Looking forward to using the new version. Do you have a rough ETA for the new release?

[2017-11-21 19:17] arjun-urs commented on #606
@temores On Line 33 of which source? Can you share the link please?

[2017-12-01 01:31] goranjovanovic25 commented on #498
Also had this problem today on one of the Service Fabric Linux nodes:

![screen shot 2017-11-30 at 3 18 11 pm](https://user-images.githubusercontent.com/25062428/33463778-3696edc8-d5f4-11e7-9ba0-2e4db18c7ab3.png)

[2017-12-04 10:22] jjindrich opened #612 "OMS agent is not sending data"
Hi, I have problem that agent is not sending data info OMS workspace. I checked log and seems to be working. I found that is sending hearbeat correctly. But not Perf data.
I found this error in /var/opt/microsoft/omsconfig/omsconfig.log
2017/12/04 10:16:07: ERROR: Scripts/nxService.pyc(306):
CalledProcessError.  Error Code is 1
2017/12/04 10:16:07: ERROR: Scripts/nxService.pyc(311):
CalledProcessE

[2017-12-04 13:20] jjindrich commented on #612
Probably not working with OMI 1.4. which is required by dotnet core (https://www.microsoft.com/net/learn/get-started/linuxubuntu) - adding sourcelist repo with new OMI

[2017-12-06 11:46] bshaw opened #613 "Update Nagios parser to include service name in service alerts"
The Nagios parser does not include the name of the service when a SERVICE ALERT event is taken from the log.

Using the sample from the included test, [test/code/plugins/nagios_log_parser_test.rb, line 69](https://github.com/Microsoft/OMS-Agent-for-Linux/blob/b7a227b6e1b2357826247f36ef1f48a7da61ff79/test/code/plugins/nagios_log_parser_test.rb#L69):
[code]

The second field (Current Users) is being

[2017-12-12 02:40] mabicca opened #614 "Damaged or missing omsadmin.conf causes VM to not boot-up"
Issue has been seen a few times and can be easily reproduced.

1) Deploy any Linux VM, in this case I tested with Red Hat 6.9
2) Install and onboard the OMS Agent on any Linux VM using the link from log analytics
3) Move the omsadmin.conf file to let's say omsadmin.conf.old , usually located under:
/etc/opt/microsoft/omsagent/{YOUR_WORKSPACE_ID/conf/omsadmin.conf
4) Reboot the VM

The VM will not

[2017-12-12 15:23] c-arshaikh commented on #28
Problem not resolved yet. I am python installed 2.7.15 (most updated) and OMSAgent-1.4.1. Still zombie process is always stick with the memory (RHEL7.4)

We do have SCOM on windows2012 R and OMS Dashboard -- azure.

[2017-12-12 15:49] EmFl opened #615 "cron job calling logrotate every 5 minutes"
Hello,
I'm wondering why there is an omsagent file in /etc/cron.d on my ubuntu vm that calls logrotate every 5 minutes.
This is the content of the file :
`*/5 * * * * root /usr/sbin/logrotate /etc/logrotate.d/omsagent* >/dev/null 2>&1`

And the resulting syslog :
[code]

[2017-12-12 20:11] silverl commented on #28
I saw the same today. I put a /etc/cron.daily in place to restart it nightly and kill all processes. Stopping omsagent service does not clean up all processes. My cron script looks like this:

[code]

[2017-12-13 07:30] marinnedea commented on #614
Same issue appears if you get multiple symbolic links pointing to different workspace IDs in the /etc/rc3.d directory ( check for S50omsagent symbolic links). Seems the problem is caused by an update of the OMS Agent that didn't cleared the old symbolic links.
The VM becomes un-bootable because of this bug.. please threat this with high priority!

`
Starting Operations Management Suite agent (480c

[2017-12-13 16:12] silverl commented on #614
I've also seen the issue that @marinnedea pointed out -- multiple symbolic links left behind, such that systemd tries to start multiple versions of omsagent at once. I've taken to checking for omsagent updates and manually clearing out the old installations.

[2017-12-14 16:12] c-arshaikh commented on #28
I have ansible in environment, normally I executes ad-hoc command 'kill $(ps -eo stat,ppid|grep -w Z|awk '{print $2}'|tr "\n" " ")' to clean up all dead processes if any. My concern is to mitigate this issue from root cause as I already updated newer version on the OMSAgent and associated dependencies.

[2017-12-18 15:47] abestheman opened #616 "Data Stopped showing in OMS"
as of 12/12 after about 10 days of valid data showing up in OMS, all data stopped.

When I try trouble shooting, restarting the omsagent i get the the following error and i am not able to really do anything.

Starting Operations Management Suite agent (680ff411-b960-49dc-913d-cec7f1352185): runuser: /bin/bash: Resource temporarily unavailable

[2017-12-18 16:29] abestheman commented on #616
After combing the omsagent log i get this error message also:

Encountered retryable exception. Will retry sending data later.
2017-12-12 03:15:15 -0500 [warn]: temporarily failed to flush the buffer. next_retry=2017-12-12 03:15:46 -0500 error_class="RuntimeError" error="Net::HTTP.Post raises exception: ThreadError, 'can't create Thread: Resource temporarily unavailable'" plugin_id="object:3f99773

[2017-12-18 21:47] vrdmr commented on #616
Hi @abestheman,

Thanks for reporting the issue. We are aware of the issue and are trying to find the root cause for this. Could you please let me know the following:

1. Which solutions do you have enabled?
2. What is the Linux Distribution you are using?
3. If possible, could you obtain the following from (You can either send the github gists or send them to vameru@microsoft.com):
 - /var/opt/mi

[2017-12-20 09:59] patricjansson commented on #616
Any news about this? Our Ubuntu vm:s running 1.4.2-124 stopped logging aswell.
VM:s running omsagent-1.4.0-45 still keep sending logs.

[2017-12-20 20:12] keikhara commented on #616
@patricjansson We are looking into this and there should be a new build coming out soon.

[2017-12-21 12:15] mrx88 opened #617 "OMS agent does not work on Debian 9 Stretch"
Example:
 wget https://raw.githubusercontent.com/Microsoft/OMS-Agent-for-Linux/master/installer/scripts/onboard_agent.sh && sh onboard_agent.sh -w <id> -s <secret> -d opinsights.azure.com
...
2017-12-21 08:58:21 (11.8 MB/s) - ‘omsagent-1.4.2-124.universal.x64.sh’ saved [100769185/100769185]

Checking host architecture ...
Extracting...
Updating OMS agent ...
----- Checking package: omsagent (omsag

[2017-12-27 05:34] VexedSyd commented on #617
@mrx88 I'm having the same issue, and I raised it here more than a month ago. It is a known issue and I'm waiting for Debian Stretch and OpenSSL 1.1 to get supported.

[https://github.com/Microsoft/OMS-Agent-for-Linux/issues/572#issuecomment-345581881](url)

[2017-12-27 18:07] mrx88 commented on #572
We're also after this. Any ETA?

[2018-01-04 00:32] mabicca commented on #614
Any updates on this report?

[2018-01-09 16:55] silverl commented on #616
All of my CentOS 7.4.1708 Azure VMs stopped reporting On Jan 5. OMS Agent Health shows their last heartbeat as 2018-01-05T04:52:28.11Z.

I attempted a --purge and reinstall, didn't work.

[2018-01-11 15:11] superminiek commented on #557
Any news?

[2018-01-12 09:03] thiezn opened #625 "omsagent PerformRequiredConfigurationChecks fails to create configuration directory"
Hello,

We are deploying cloudfoundry hardened linux stem cells to Microsoft Azure but having difficulty getting OMI to register itself. Because of this Microsoft Security Center is unable to scan for security updates, etc.

The output of 'PerformRequiredConfigurationChecks.py' seems to indicate this is a permissioning issue somewhere but I haven't been able to find a reference to the configuratio

[2018-01-12 18:50] 945870 commented on #102
I want to disable DES and 3DES sslCipherSuite in omiserver for port 1270 but it is not happening. I think, I didn't get proper syntax that used in omiserver.conf. Can anyone help me.
thanks.

[2018-01-12 21:31] jeffaco commented on #102
The syntax for `sslCipherSuite` is identical to what the [Apache HTTPD Server](https://httpd.apache.org/docs/2.4/ssl/ssl_howto.html) uses.

[2018-01-13 02:50] 945870 commented on #102
When I am using, for port no. 1270 in omiserver.conf like as

SSLCipherSuite !DES:!3DES

And restart omiserver then its restart without process ID after that test
for DES and 3DES then through error like this:

Connection Refused
ErrorConnection111

When remove SSLCipherSuite from omiserver.conf then its working.

So please can you tell me, only changes in omiserver.conf file or any other
file ???

[2018-01-15 15:12] rocketraman commented on #498
Had this issue again today. Sent logs to email addresses above.

@goranjovanovic25 looks like your problem is high CPU usage, not high memory usage. If you search, you will find other GitHub issues with omiagent + high CPU.

[2018-01-15 22:31] NarineM commented on #498
There is a new release coming up on January 22 that has new OMI 1.4.1 which has memory leak related bug fixes. Can you try the new version once it is available to see if it resolves it?
Note that omiagent process related issues need to be created on omi provider repo on GitHub in the future.

[2018-01-16 17:21] jeffaco commented on #102
Your message isn't clear to me at all, sorry:

1. What is the EXACT line that you've added to `omiserver.conf`? The format of the line above is not correct.
2. You say that you're trying to disable DES/3DES, and then when you try to test, OMI rejects. Isn't this correct?
3. You say the same issue has been solved for port 443 by changing `ssl.conf` file. I'm not sure *exactly* what file you mean, b

[2018-01-23 21:08] NarineM commented on #612
There is a known issue with omsagent older than 1.4.3-174 if customer has upgraded only OMI to 1.4.1. No perf data will be sent to OMS. This is fixed in version #174 of omsagent.

[2018-01-23 22:22] NarineM commented on #614
multiple workspaces are not supported . please run omsagent*.sh bundle with --purge to remove old workspace information, then run the bundle with --upgrade.

[2018-01-23 22:26] NarineM commented on #614
for the other issue reported in this thread with machine reboot please try latest version of agent and let me know if it is still happening.

[2018-01-23 22:33] NarineM commented on #614
If the customer wants to uninstall the agent, they have to do it properly using the installer with –purge option to remove omsagent package from their linux system. It is unusual for someone just delete some files from the machine manually if their VM is still running applications that use or depend on these files. Please ask them to uninstall omsagent. If this file is removed from the system, age

[2018-01-23 22:33] NarineM commented on #614
Closing as external "customer error"

[2018-01-23 22:33] #614 closed

[2018-01-23 23:11] silverl commented on #614
Nobody is intentionally trying to run multiple workspaces. When the agent auto-updates, it is not cleaning up after itself properly, and it's leaving multiple workspaces behind. "customer error" ... really?

[2018-01-23 23:16] NarineM commented on #614
My response with "customer error " was related to original issue that Bruno reported. Other issues discussed in this thread are unrelated to the file removal issue he had. Please do not confuse these together. Please file a separate issue about symbolic link. I am suprised to hear that someone was able to install multiple instance of omsagent and get into symbolic link issues since it is not a sup

[2018-01-23 23:20] NarineM commented on #614
onboarding agent into multiple workspaces also is not a scenario we support in azure.

[2018-01-24 15:23] ffloimair commented on #572
I desperately need this!
The odd thing is that you can additionally install libssl1.0.2 in Debian 9 - which would be compatible - but the installer only detects the highest installed version (which obviously is 1.1.0f).
A quick fix would probably be to only adapt the version check in the installer to check if there are additional (compatible) versions of libssl installed instead of just the highes

[2018-01-25 08:14] marinnedea commented on #614
So.. I see no Bruno reporting anything in this thread. Both the issues reported by Marco and me are exactly the same, just seen from different perspective. The problem appears during AUTO-update and in both cases in breaks the workspace links by not cleaning the old symlinks before creating new ones... So @NarineM  .. I have no idea why you closed this, but it looks to me you're on the wrong track

[2018-01-25 11:24] NarineM commented on #614
@marinnedea
the issue with symbolic link is not related to the issue with service restart failing when omsadmin.conf is manually deleted from the machine.
Again please file a different issue for symbolic links.

[2018-01-25 12:38] #612 closed

[2018-01-25 13:44] sundaxi opened #630 "walinuxagent 2.2.20 handler is keeping download the omsagent 1.4.58.7 but failed to disable older omsagent extension 1.4.56.5"
Error message logs repeat in waagent.log looks like below.

From guest os perspective, I could see lots of traffic was generated by waagent handler and from the waagent logs, I could see the handler is trying download/install the omsagentforlinux 1.4.58.7 but failed to disable omsagentforlinux 1.4.58.5. The operation kept failed repeatly and the omsagentfor linux extension states as "Transitioning

[2018-01-25 20:35] gpenin opened #631 "[1.4.59] Logs in /var/opt/microsoft/omsconfig are not rotated in (at least) Ubuntu 14.04 LTS & 16.04 LTS"
In Ubuntu 14.04 LTS & 16.04 LTS, logrotate ignores /etc/logrotate.d/omsconfig (symlink to /opt/microsoft/omsconfig/etc/logrotate.conf) because the file is not owned by root :

[root@server ~]# logrotate -d /etc/logrotate.conf
reading config file /etc/logrotate.conf
including /etc/logrotate.d
...
Ignoring omsconfig because the file owner is wrong (should be root).
...

As a consequence, logs in /va

[2018-01-26 01:56] EricTendian opened #632 "mdsd running at 100% CPU usage after agent update"
*Was told to post this here. Following up from [this Azure forum thread](https://social.msdn.microsoft.com/Forums/azure/en-US/5ab85f9b-0bfc-482f-8331-bbd7d994e1c2/high-cpu-usage-by-mdsd-command-in-azure-linux-vm?forum=WAVirtualMachinesforWindows) and [this GitHub issue](https://github.com/Microsoft/omi/issues/425)...*

At 06:15 GMT the OmsAgentForLinux extension updated on my VMs. In addition to a

[2018-01-26 03:23] mszaczhang commented on #632
We have same problem in RedHat RHEL 7.3 and Ubuntu 16.04.  A lot customer see this issue recently.

[2018-01-26 06:52] sundaxi commented on #630
The extension.log is huge but repeat the same errror below
2018/01/25 14:19:33 [Microsoft.EnterpriseCloud.Monitoring.OmsAgentForLinux-1.4.56.5] sequence number is 0
2018/01/25 14:19:33 [Microsoft.EnterpriseCloud.Monitoring.OmsAgentForLinux-1.4.56.5] setting file path is/var/lib/waagent/Microsoft.EnterpriseCloud.Monitoring.OmsAgentForLinux-1.4.56.5/config/0.settings
2018/01/25 14:19:33 [Microsoft.E

[2018-01-26 10:56] rhyssmith commented on #632
Same here on RHEL 7 VMs. Load average on a server that is usually <1, <1, <1 is currently 9.09, 9.27, 8.76.

[2018-01-26 13:58] msternik commented on #632
Same here on ubuntu 16.04. Please advise how to solve it.

[2018-01-26 14:22] maurert commented on #632
Same problem here running Ubuntu 16.04.2 LTS.

 PID USER      PR  NI    VIRT    RES    SHR S %CPU %MEM     TIME+ COMMAND
  1963 root      20   0  965900  29776  11480 S 99.7  0.8   1937:37 mdsd

![image](https://user-images.githubusercontent.com/4974327/35443805-a0ea5f36-02ac-11e8-9b1d-75d70d82bd19.png)

[2018-01-26 15:41] matheus-santoro commented on #632
Same using Centos 7.3 Any solution?

Should we consider downgrading the version?

[2018-01-26 15:42] matheus-santoro commented on #632
Same using Centos 7.3. Any solution for this?

Downgrading the version on multiple servers should not be an option to solve this.

[2018-01-26 17:00] bprime commented on #632
Same issue here, Ubuntu 16.04.

[2018-01-27 14:40] brandubh opened #633 "auditd collection no longer working"
Hey team the auditd ingestion seems lost in nowhere. I had a customer reporting the issue, so I tested it on a CentOS (centos-release-7-4.1708.el7.centos.x86_64) and Ubuntu (16.04.3 LTS) with the latest agent version installed, no errors logged, auditd configured properly (entries present in audit.log) but still no data ingested. It used to work but now it seems not. The documentation on auoms is

[2018-01-27 20:54] mstrhh commented on #632
I had all quite some issues with this Azure software suite: hanging waagent with 100% CPU, cron error mails in 1 minute intervals, log files full of omsagent messages,

This is not acceptable on Red Hat, in production, on Azure. Fixes urgently needed.

[2018-01-29 11:06] gpenin opened #634 "[1.4.59] Cron job (ktstrip) generates unwanted output"
When /etc/krb5.keytab does not exists, the ktstrip cron job generates output that can lead, with some configurations, to then sending of one email per minute.

Is it possible to add standard/error output redirection (>/dev/null 2>&1 for example) to the cron job ?

[2018-01-29 15:14] silverl commented on #634
If the keytab doesn't exist, the cron is unable to complete its work anyway. The better workaround is likely to simply comment out the line entirely until Microsoft fixes this.

[2018-01-29 17:06] franbarberan commented on #631
Hi,

How install omsagent in ubuntu 14.04 o 16.04 ?
when i tryed install, ubuntu return this error
Error: This system does not have a supported version of OpenSSL installed.
This system's OpenSSL version: 1.1.0g
Supported versions: 0.9.8*, 1.0.*
Shell bundle exiting with code 60

of course my version is
root@testazure14:/var/tmp# openssl version
OpenSSL 1.1.0g  2 Nov 2017
 i think that downgrade t

[2018-01-30 10:38] sbadakhc commented on #632
Hi,

Same issue here as well on RHEL 7.4. Please fix ASAP as these are productions servers!

[2018-01-30 10:46] WGdata commented on #632
We are also having issues on both RHEL 7.4 and Ubuntu 16.04 production machines.

[2018-01-30 12:19] srice01 opened #635 ""omiagent" segfault libnss_dns"
On our RM provisioned VMs in Azure we noticed that the root partition is filling up with large numbers of "core.###" files in the /var/opt/omi/run directory.

Further investigation shows segmentation faults (in /var/log/messages) as follows:
[code]
Environment information:

- OMS Agent: 1.4.3-174 (latest)
- OMI 1.4.1
- Operating System: CentOS Release 7.4.1708 (fully patched, that is, "yum update"

[2018-01-30 19:48] noamo48 commented on #632
Same issue with Cent OS 7.2. I tried upgrading the Linux Azure Diagnostics agent to version 3.0 but it had no effect on the CPU usage - it's still way too high.

[2018-01-31 03:58] tony-nilan commented on #632
we are running several machines as per below and having >80% cpu usage by mdsd:

Operating System: Ubuntu 16.04.2 LTS
Kernel: Linux 4.4.0-83-generic
Architecture: x86-64

[2018-01-31 15:41] bprime commented on #632
About 10 minutes ago our CPU usage finally returned to normal levels, so they may have pushed out the fix.

[2018-01-31 19:15] mstrhh commented on #632
many problem confirmations here, but no solutions or suggestions?

Maybe the omi case   #425 is fixed first, but my trace is showing a deadlock I think, right?

And this happend 2 months ago,  without a pushed faulty version.

[2018-01-31 23:22] pnmcosta commented on #632
Had the same issue, upgraded everything, including kernel to ` 4.13.0-1007-azure #9-Ubuntu` and am no longer having the issue, so far...

`waagent --version` reports:

WALinuxAgent-2.2.17 running on ubuntu 16.04
Python: 3.5.2
Goal state agent: 2.2.20

Please note I do not use Python on this machine, but I did notice it updated during the `apt-get upgrade` so beware of any dependencies.

[2018-02-02 07:07] sundeepk1 opened #637 "can i install OMS agent on a Kubernetes node on GCP"
Hi ,

Is it possible to install the agent on a  k8 worker/master nodes on GCP and then use Azure OMS to monitor the GCP - Google Kubernetes engine etc .

Regards,
Sundeep Kumar

[2018-02-07 10:58] alexk2000 opened #640 "No information about rpm packages available updates sends to Log Analytics/OMS portal"
We just started using OMS portal for on-premise Linux servers and added several RHEL 5/6/7 to OMS. We see perf, syslog, inventory data in Log Analytics/OMS portal, we successfully tested sending custom json data to Log Analytics, all looks good. Only one problem is no information sending to Log Analytics about available package updates, thus in OMS portal view 'System Update Assessments' all Linux

[2018-02-09 12:56] tkomlichenko opened #641 "Automation - Update management (Preview) all VMs Not-Assessed EXCEPT ONE VM."
Hi,
we just started to use the Update Management in Azure Portal.
After creating the Workspace and adding several VMs to it, we can see them showed green and with OMS connection as "This Workspace in "Workspace->Virtual Machines ".
After several days, we can see only one VM Non-Compliant in the "Update management (Preview)". The rest of the VMs are showed as "not assessed".
We have Windows and Lin

[2018-02-09 13:01] tkomlichenko commented on #640
Hi,
we also have similar issue. (https://github.com/Microsoft/OMS-Agent-for-Linux/issues/641).
Almost all our VMS are green in "Workspace->Virtual Machines", but "Not-assessed" in "Update management (Preview)".
Could you share, please, if your VMS are showed as different from "Not assessed"?
BR

[2018-02-09 13:37] tkomlichenko commented on #641
More info: all the VMs Agents are "sending OMS Heartbeat succeeded" as per  /var/opt/microsoft/omsagent/log # tail -100 omsagent.log
Why one VM is assessed and another not? There is no refresh button on the "Update management (Preview)" page. Does it make sense to have this button or this page has autorefresh?
BR

[2018-02-09 13:41] tkomlichenko commented on #616
Hi,
we have similar issue (https://github.com/Microsoft/OMS-Agent-for-Linux/issues/641).
But all our VMs Agents are "sending OMS Heartbeat succeeded" as per /var/opt/microsoft/omsagent/log # tail -100 omsagent.log
Why one VM is assessed and another not, on the "Update management (Preview)" page? There is no refresh button. Does it make sense to have this button or this page, or it has auto-refresh

[2018-02-12 02:26] Xiao4 commented on #632
any solution to fix this?

[2018-02-12 16:28] pnmcosta commented on #632
hi @Xiao4 since the update to `4.13.0-1007-azure #9-Ubuntu` I've not had the issue.

[2018-02-13 07:18] riskgod commented on #632
I met the same problem, as I kill the mdsd, it looks fine

[2018-02-15 13:02] slavizh opened #644 "Azure Stack VMs are reported as Azure Environment"
Hi,
I've deployed two Linux VMs on our Azure Stack. When I look at Heartbeat or Update tables the field ComputerEnvironment for those machine is populated with 'Azure' value. Shouldn't Azure Stack VMs be with Non-Azure value?

[2018-02-15 22:34] davemulford opened #645 "Allow disabling of repositories when checking for updates"
In RHEL, the OMS Agent performs a `yum check-update` in the `/opt/microsoft/omsconfig/Scripts/OMSYumUpdates.sh` script. If I have a large repository enabled, this can completely fill the OS disk.

My proposal is to allow the disabling of specific repositories so the disk is not full. This would cause `yum check-update` to be executed like this:

    yum check-update --disablerepo=<repo-name> --dis

[2018-02-16 17:30] rocketraman commented on #498
Installing this version manually as per the instructions here solved the problem for me: https://github.com/Microsoft/Docker-Provider/issues/32#issuecomment-360368516

[2018-02-16 21:05] johnsontnc commented on #645
I'm curious, why would check-update fill up your disk? Or why would you enable a large repo? I would think more than just OMS might call check-update.

[2018-02-17 12:58] alexk2000 opened #646 "RedHat Linux 5.11, runbook not running through hybrid worker, custom log configuration on OMS portal not applied on the host"
Short issue description: RedHat Linux 5.11, runbook not running through hybrid worker, custom log configuration on OMS portal not applied on the host.

Use case:
On-premise RedHat Linux 5.11  host is in own hybrid worker group. Python runbook is started on the hosts' hybrid worker group and write data to custom log.
Custom log is defined in OMS portal -> Settings -> Data -> Custom logs.

Expected

[2018-02-17 13:41] alexk2000 opened #647 "RedHat Linux 6.9, runbook not running through hybrid worker"
Short issue description: RedHat Linux 6.9, runbook not running through hybrid worker.
Related to https://github.com/Microsoft/OMS-Agent-for-Linux/issues/646, tested the same solution but in this case for RedHat Linux 6.

Use case:
On-premise RedHat Linux 6.9  host is in own hybrid worker group. Python runbook is started on the hosts' hybrid worker group and write data to custom log.
Custom log is

[2018-02-17 21:10] davemulford commented on #645
The repo is internal to our organization, and a check-update fills the OS disk because of how large the yum cache files are under /var/cache/yum.

[2018-02-19 11:41] ChrisMcKee commented on #632
Any chance of msft at the very least putting a leash on this so, worst case scenario, this thing breaks it can't wipe out the entire processor.

https://www.freedesktop.org/software/systemd/man/systemd.resource-control.html
https://unix.stackexchange.com/a/223282/3792

[2018-02-20 09:36] tfanhaUK commented on #572
Any news on this release ? we have over 100+ desktops/vms that we cannot monitor anymore ?!

[2018-02-20 10:38] slavizh commented on #644
Any comment?

[2018-02-21 16:48] asubmani opened #648 "OMS agent new e-mail message every minute"
Using the latest version of the agent. 1.4.3-174 .

The server is running RHEL 6.9, and recieving logs from one ESXi 6.5 host. We can see the data in VMWare solution in OMS, but see the below message getting queued up in cron. The job is spooling a new message every minute.
`crontab -l
#* * * * * [ \( ! -f /etc/opt/omi/creds/omi.keytab \) -o \( /etc/krb5.keytab -nt /etc/opt/omi/creds/omi.keytab \)

[2018-02-21 21:20] akramwaseem opened #649 "option to disable environment variable logging"
When I run a container on a VM using docker , I can see the environment variable which has all of secrets or passwords. because of this we have to modify the filter_container.rb file to stop collecting the env variable.
Can you consider option to disable the env variable collection ?

[2018-02-22 17:45] aydeisen commented on #641
I'm having a similar issue.  If I'm reading the scripts correctly, it appears that the script `patch_management_lib.rb` is dependent on the included Linux DSC resource ``nxAvailableUpdates.py`.  However, installing the [PowerShell DSC Agent for Linux](https://github.com/Microsoft/PowerShell-DSC-for-Linux) is not part of the `omsagent-*.sh` script to install OMS.  Since the DSC Agent is apparently

[2018-02-24 07:05] rocketraman commented on #498
See my comment here: https://github.com/Microsoft/Docker-Provider/issues/32#issuecomment-368206146 -- looks like Azure just destabilized my systems again by installing a new version of OMI agent, which is still using a broken version of docker-cimprov 1.0.0.27, even though I had manually installed the fixed newer version 1.0.0.30.

@lagalbra @NarineM @keikhara come on guys, two questions: 1) why i

[2018-02-26 05:17] NarineM commented on #498
@rocketraman , hi , there is a separate docker repo for reporting docker related bugs, this repro is only tacking omsagent related issues. Please follow up on the docker provider GitHub page instead. thanks,

[2018-02-26 05:18] NarineM commented on #498
Closing this issue. CPU or memory leaks coming from omiagent process need to be reported on powershell DSC or docker/container GitHub repositories depending on which component is causing the issue.

[2018-02-26 05:19] #498 closed

[2018-02-26 05:23] NarineM commented on #648
Hi, this is an OMI bug and has been fixed in omi version 1.4.1.-2. .Please file omi bugs on OMI repo here: https://github.com/Microsoft/omi
This repo is tracking omsagent related issues. thanks.

[2018-02-26 05:23] #648 closed

[2018-02-26 05:25] NarineM commented on #633
@taglines , can you take a look and see if your latest fix resolves this issue?

[2018-02-26 05:27] NarineM commented on #632
Hi, please file LAD extension related issues on Linux diagnostic agent GitHub repo. You can look at reported issues here: https://github.com/Azure/azure-linux-extensions/issues

[2018-02-26 05:27] #632 closed

[2018-02-26 05:28] NarineM commented on #625
Hi, please move this issue to powershell DSC for Linux GitHub repr instead. this page is for tracking omsagent related issues only. thanks.

[2018-02-26 05:29] #625 closed

[2018-02-26 05:32] rocketraman commented on #498
@NarineM The issue was already reported there and fixed, but the fix is not included in the latest version that was just deployed (see https://github.com/Microsoft/Docker-Provider/issues/32#issuecomment-368206146).

[2018-02-26 05:32] NarineM commented on #630
hi, please file waagent issues on https://github.com/Azure/WALinuxAgent/issues GitHub repo. thanks.

[2018-02-26 05:34] NarineM commented on #498
Yes, all docker related issues need to be filed on docker GitHub repo. Sorry, but this repo is not tracking or looking into docker related issues. thanks.

[2018-02-26 05:36] NarineM commented on #164
Please file container or docker related issue on docker GitHub repo.

[2018-02-26 05:38] NarineM commented on #462
Hi , can you move docker related issue (if this issue has not already been addressed) to docker provider GitHub repo ? thanks.

[2018-02-26 05:38] #462 closed

[2018-02-26 05:41] NarineM commented on #634
This is an issue with omi and needs to be filed on omi GitHub repo here: https://github.com/Microsoft/omi
Similar issue has been fixed in omi version 1.4.2. Please try latest version and see if it resolves your case, if not please file a new issue on omi.

[2018-02-26 05:41] #634 closed

[2018-02-26 05:43] NarineM commented on #602
Hi, was this issue resolved? can you attach omsagent.log and omsconfig.log if it is still repo ing in your environment?

[2018-02-26 05:44] NarineM commented on #641
@Atchub @shuliums can you take a look?

[2018-02-26 05:45] NarineM commented on #645
@Atchub  @shuliums can you take a look?

[2018-02-26 05:49] NarineM commented on #572
We are working on this. I can update this thread when this support is released. thanks.

[2018-02-26 05:49] sundaxi commented on #630
Interesting, waagent team requested to open an issue to OMS team and OMS team requested me to open issue to waagent team.
Check https://github.com/Azure/WALinuxAgent/issues/1019

So, where can I get the answer??

[2018-02-26 05:53] NarineM commented on #630
You can try uninstalling OMS Linux extension and re-installing it. My initial impression was that your previous install was successful and upgrade did not work based on provided logs in this ticket when looks like it failed to be installed in the first place.

[2018-02-26 05:54] NarineM commented on #630
Remove the OmsAgentForLinux extension from the VM:  https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/remove-azurermvmextension?view=azurermps-5.1.1&viewFallbackFrom=azurermps-4.4.0
•	Wait until Uninstall operation completes (operation details can be seen in /var/log/azure/Microsoft.EnterpriseCloud.Monitoring.OmsAgentForLinux/<version>/extension.log )

Download OMSAgent shell bund

[2018-02-26 05:58] sundaxi commented on #630
Thanks @NarineM
Uninstall and install could work. But the main issue is due to waagent could not disable the old oms version. I am not sure who maintain the disable script.
If we uninstall the omsagent and reinstall it, this could skip the procedure of disable older version of omsagent

[2018-02-26 07:13] NarineM commented on #630
install/uninstall/enable/disable routines are owned by waagent. I do not have any information on why install was failing in your environment, but if was installed successfully but upgrade of new version did not happen it would be an issue with waagent I believe. Let us try the mitigation steps for now to see if your machine is recovered.

[2018-02-26 07:29] sundaxi commented on #630
@NarineM I have more than 5 customers met with such kind of issue and I suggested them to do the same thing, uninstall and re-install could migrate the issue. I didn't see other extension meet such kind of issue before. But anyway, if you can confirm the the disable routines are owned by waagent. I will try to search some help from waagent team as well.